<!DOCTYPE html>
<html>
    #set($layout = "/layout/mobileDefault.vm")
<body>
<script src="${rc.contextPath}/media/js/jquery.mobile.custom.min.js"></script>
<section class="wrap">
    <title>注册短信验证</title>
    <form class="registerForm" action="$!{rc.contextPath}/mobile/register" method="post">
        <div class="login reg-form">
            <ul>
                <li>
                    <input name="recommendUserId" id="recommendUserId" type="hidden" class="inp" value="$!{recommendUserId}">
                    <input id="mobile" name="mobile" type="text" class="inp" placeholder="请输入手机号码">
                </li>
                <li>
                    <input name="code" id="code" type="text" class="inp" placeholder="请输入验证码">
                    <button type="button" id="getCode" class="getCode">获取验证码</button>
                    <span id="timer" style="position: absolute;right: 4px;top: -2px;background: #aca5a5;width:58px;height: 40px;text-align:center;color:#f4f4f4;display: none;line-height: 42px;border-radius: 3px;">
                    <b id="timeCount" style="padding: 0 2px;">120</b>秒</span>
                </li>
            </ul>
            <div class="submit">
                <button id="submit_" type="submit" class="br20 combtn">下一步</button>
            </div>
        </div>
    </form>
    <section class="pages">
    </section>
</section>
</body>
<script>

    $('#submit_').click(function(event){
        event.preventDefault()
        var mobile = $('#mobile').val();
        var smsCode = $('#code').val();
        var recommendUserId = $('#recommendUserId').val();
        var sign = $.md5("mobile=" + mobile +"&smsCode="+smsCode+ "&key=icard1234").toUpperCase();
        $.post("${rc.contextPath}/mobile/doValidate", {mobile:mobile, sign:sign, smsCode:smsCode}, function(data){

            if(data.errorCode == '0'){
                window.location='${rc.contextPath}/mobile/register?mobile='+mobile+"&recommendUserId="+recommendUserId;
            }else{
                $('input[name="mobile"]').parent().find('span').remove()
                $('input[name="mobile"]').parent().append('<span class="Validform_checktip Validform_wrong">'+data.errorMessage+'</span>');
            }
        })
    })

        //获取验证码
    var timer;//定时器

    $(".getCode").click(function(event) {

        event.preventDefault();

        var mobile = $("#mobile").val();
        if (mobile == '' || mobile == null) {
            alert('手机号为空');
            return;
        }else if (!(/^1\d{10}$/).test(mobile)){
            alert('手机号码格式错误');
            return;
        }

        $('#getCode').hide();
        $('#timer').show();
        timer = window.setInterval("run();", 1000);


        var sign = $.md5("mobile=" + mobile + "&key=icard1234").toUpperCase();

        $.ajax({
                    type: "post",
                    url: baseUrl + "/mobile/smsCode",
                    data:　{mobile:mobile,sign:sign},
                    dataType : "json",
                    success:function (data) {
                        if (data.errorCode == '0') {
                            alert('验证码已发送，请注意查收');
                        } else {
                            alert('获取验证码失败:'+data.errorMessage);
                            $('#getCode').show();
                            $('#timer').hide();
                            $('#timeCount').html(120);
                            window.clearInterval(timer);
                        }
                        },error : function () {
                            $('#getCode').show();
                            $('#timer').hide();
                            $('#timeCount').html(120);
                            window.clearInterval(timer);
                        alert("不好意思，系统有点小问题,请稍后再试谢谢!");
                    }
                }
        );
    });

    //倒计时
    function run() {
        var s = document.getElementById("timeCount");
        if (s.innerHTML == 0) {
            $('#getCode').show();
            $('#timer').hide();
            $('#timeCount').html(120);
            window.clearInterval(timer);
            return false;
        }
        s.innerHTML = s.innerHTML * 1 - 1;
    }
</script>
</html>
