<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.arcms.biz.dao.generation.activity.HongbaoObtainMapper" >
  <resultMap id="BaseResultMap" type="com.arcms.biz.domain.generation.activity.HongbaoObtain" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="modified_by" property="modifiedBy" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
    <result column="hongbao_obtain_id" property="hongbaoObtainId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="icard_icon" property="icardIcon" jdbcType="BIGINT" />
    <result column="hongbao_activity_id" property="hongbaoActivityId" jdbcType="BIGINT" />
    <result column="hongbao_activity_name" property="hongbaoActivityName" jdbcType="VARCHAR" />
    <result column="obtain_datatime" property="obtainDatatime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <trim prefix="(" suffix=")" prefixOverrides="and" >
        is_deleted = 0
        <foreach collection="oredCriteria" item="criteria" separator="or" >
          <if test="criteria.valid" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </if>
        </foreach>
      </trim>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <trim prefix="(" suffix=")" prefixOverrides="and" >
        is_deleted = 0
        <foreach collection="example.oredCriteria" item="criteria" separator="or" >
          <if test="criteria.valid" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </if>
        </foreach>
      </trim>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, gmt_created, created_by, gmt_modified, modified_by, is_deleted, hongbao_obtain_id, 
    user_id, icard_icon, hongbao_activity_id, hongbao_activity_name, obtain_datatime, 
    status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.arcms.biz.domain.generation.activity.HongbaoObtainExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <if test="!definedQueryColumns" >
      <include refid="Base_Column_List" />
    </if>
    <if test="definedQueryColumns" >
      <foreach collection="queryColumns" item="queryColumn" separator="," >
        ${queryColumn}
      </foreach>
    </if>
    from hongbao_obtain
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="forUpdate" >
      for update
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from hongbao_obtain
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    update hongbao_obtain
    set is_deleted = 1
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.arcms.biz.domain.generation.activity.HongbaoObtainExample" >
    update hongbao_obtain
    set is_deleted = 1
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.arcms.biz.domain.generation.activity.HongbaoObtain" useGeneratedKeys="true" keyProperty="id" >
    insert into hongbao_obtain (id, gmt_created, created_by, 
      gmt_modified, modified_by, is_deleted, 
      hongbao_obtain_id, user_id, icard_icon, 
      hongbao_activity_id, hongbao_activity_name, 
      obtain_datatime, status)
    values (#{id,jdbcType=BIGINT}, #{gmtCreated,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=VARCHAR}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{modifiedBy,jdbcType=VARCHAR}, #{isDeleted,jdbcType=BIT}, 
      #{hongbaoObtainId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{icardIcon,jdbcType=BIGINT}, 
      #{hongbaoActivityId,jdbcType=BIGINT}, #{hongbaoActivityName,jdbcType=VARCHAR}, 
      #{obtainDatatime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.arcms.biz.domain.generation.activity.HongbaoObtain" useGeneratedKeys="true" keyProperty="id" >
    insert into hongbao_obtain
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="modifiedBy != null" >
        modified_by,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="hongbaoObtainId != null" >
        hongbao_obtain_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="icardIcon != null" >
        icard_icon,
      </if>
      <if test="hongbaoActivityId != null" >
        hongbao_activity_id,
      </if>
      <if test="hongbaoActivityName != null" >
        hongbao_activity_name,
      </if>
      <if test="obtainDatatime != null" >
        obtain_datatime,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null" >
        #{modifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="hongbaoObtainId != null" >
        #{hongbaoObtainId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="icardIcon != null" >
        #{icardIcon,jdbcType=BIGINT},
      </if>
      <if test="hongbaoActivityId != null" >
        #{hongbaoActivityId,jdbcType=BIGINT},
      </if>
      <if test="hongbaoActivityName != null" >
        #{hongbaoActivityName,jdbcType=VARCHAR},
      </if>
      <if test="obtainDatatime != null" >
        #{obtainDatatime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.arcms.biz.domain.generation.activity.HongbaoObtainExample" resultType="java.lang.Integer" >
    select count(*) from hongbao_obtain
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hongbao_obtain
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hongbao_obtain
    set id = #{record.id,jdbcType=BIGINT},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      created_by = #{record.createdBy,jdbcType=VARCHAR},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      modified_by = #{record.modifiedBy,jdbcType=VARCHAR},
      is_deleted = #{record.isDeleted,jdbcType=BIT},
      hongbao_obtain_id = #{record.hongbaoObtainId,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      icard_icon = #{record.icardIcon,jdbcType=BIGINT},
      hongbao_activity_id = #{record.hongbaoActivityId,jdbcType=BIGINT},
      hongbao_activity_name = #{record.hongbaoActivityName,jdbcType=VARCHAR},
      obtain_datatime = #{record.obtainDatatime,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.arcms.biz.domain.generation.activity.HongbaoObtain" >
    update hongbao_obtain
    where id = #{record.id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.arcms.biz.domain.generation.activity.HongbaoObtain" >
    update hongbao_obtain
    set gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=VARCHAR},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      modified_by = #{modifiedBy,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=BIT},
      hongbao_obtain_id = #{hongbaoObtainId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      icard_icon = #{icardIcon,jdbcType=BIGINT},
      hongbao_activity_id = #{hongbaoActivityId,jdbcType=BIGINT},
      hongbao_activity_name = #{hongbaoActivityName,jdbcType=VARCHAR},
      obtain_datatime = #{obtainDatatime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>