#set($layout = "/layout/mobileDefault.vm")
<head>
    <title>
        我的卡券
    </title>
</head>
<section class="wrap">
    <section class="pages">
        <div class="br10 my-card my-card-detail-info">
            <ul>
                <li class="arrow-icon arrow-icon-g"> <a href="#">
                    <div class="table">
                        <div class="table-cell item-con">
                            <p class="t1">${trade.orders.get(0).goods.title}</p>
                            <p class="p2">有效期至：$!dateTool.format("yyyy-MM-dd HH:mm:ss", ${trade.payTime})</p>
                        </div>
                    </div>
                </a> </li>
            </ul>
        </div>
        <div class="b-bt my-card-detail-ewm">
            <div class="photo"><div id="cardDimension" cardId="${trade.orders.get(0).cardCoupon.id}" pass="${trade.orders.get(0).cardCoupon.couponId}" ></div>#*<img src="${rc.contextPath}/media/mobile/images/ewm2.jpg">*#</div>
            <div class="txt">卡劵密码：$!{trade.orders.get(0).cardCoupon.couponId}</div>
        </div>
    </section>
</section>
<script>
    jQuery('#cardDimension').qrcode({width:220,height:220,correctLevel:0,text:baseUrl + "/mobile/seller/cardConsume?cardId=" + $("#cardDimension").attr("cardId") + "&pass=" + $("#cardDimension").attr("pass") + "&token=$!{token}"});
</script>