#set($layout = "/layout/mobileDefault.vm")
<head>
    <title>
        申请退款
    </title>
</head>
<section class="wrap">
##    <header><a href="${rc.contextPath}/mobile/user" class="back"></a><span class="tit">申请退款</span></header>
    <section class="pages">
        <form id="applyRefundForm" action="${rc.contextPath}/mobile/user/doRefund" method="post">
        <input type="hidden" name="tid" value="${trade.tid}"/>
        <input type="hidden" name="token" value="${token}"/>
        <input type="hidden" name="lat"/>
        <input type="hidden" name="lng""/>
        <div class="refund">
            <div class="b-bt item item-1">
                <div class="b-b item-hd"><span class="fs16 col_0">订单密码</span></div>
                <div class="p10 item-bd">
                    <ul>
                        #set($firstOrderPayment = $trade.orders.get(0).payment)
                        #foreach($order in $trade.orders)
                            #if($trade.status == "WAIT_BUYER_CONSUME")
                                #set($index = $velocityCount - 1)
                                #set($payment = $order.payment)
                                <li><label class="check-label on"><input type="checkbox" fee="$payment" name="orderIds[${index}]" value="$!{order.oid}" checked>密码：$!{order.cardCoupon.couponId}</label></li>
                            #end
                        #end
##                        <li><label class="check-label on"><input name="" fee="32" type="checkbox">密码：10115***7783</label></li>
##                        <li><label class="check-label"><input name="" fee="35" type="checkbox">密码：10115***7783</label></li>
                    </ul>
                </div>
            </div>

            <div class="b-bt item item-2">
                <div class="b-b item-hd"><span class="fs16 col_0">退还金额</span></div>
                <div class="p10 item-bd">
                    现金：<span id="refundFee">$!{firstOrderPayment}</span>元
                </div>
            </div>

            <div class="b-bt item item-3">
                <div class="b-b item-hd"><span class="fs16 col_0">现金退还方式</span></div>
                <div class="p10 item-bd">
                    原路退回（3-10个工作日内退款到原支付方）
                </div>
            </div>


            <div class="b-bt item item-4">
                <div class="b-b item-hd"><span class="fs16 col_0">退款原因</span></div>
                <div class="p10 item-bd">
                    <ul>
                        <li><label class="check-label on"><input name="refundReason" type="checkbox" value="预约不上" checked>预约不上</label></li>
                        <li><label class="check-label"><input name="refundReason" type="checkbox" value="商家营业不接待">商家营业不接待</label></li>
                        <li><label class="check-label"><input name="refundReason" type="checkbox" value="去过了，不太满意">去过了，不太满意</label></li>
                        <li><label class="check-label"><input name="refundReason" type="checkbox" value="买错了/买多了">买错了/买多了</label></li>
                    </ul>
                </div>
            </div>


            <div class="submit"><button id="btnApplyRefund" #*type="submit"*# class="br30 combtn">申请退款</button></div>
        </form>
        </div>
    </section>
</section>
<script>
    $('#btnApplyRefund').click(function(event){
        event.preventDefault()
        $('#applyRefundForm input[name="lat"]').val(lat)
        $('#applyRefundForm input[name="lng"]').val(lng)
        $('#applyRefundForm').submit()
    })
</script>