#set($layout = "/layout/mobileDefault.vm")
<head>
    <title>
        我的卡券
    </title>
</head>
<section class="wrap">
    <section class="pages">
        <div class="p10  br10 my-card">
            <ul>
                #foreach($trade in $trades)
                    #if($trade.status == "WAIT_BUYER_CONSUME")
                    <li class="br10 arrow-icon arrow-icon-w"> <a href="${rc.contextPath}/mobile/user/card/detail?tradeId=$trade.tid">
                        <div class="table">
                            <div class="table-cell item-con">
                                <p class="t1">$!{trade.orders.get(0).goods.title}</p>
                                <p class="p2">有效期至：$!dateTool.format("yyyy-MM-dd HH:mm:ss", $!{trade.orders.get(0).goods.expiredEndTime})</p>
                            </div>
                            <div class="table-cell v-m item-num"><span class="fs20">1</span></div>
                        </div>
                    </a> </li>
                    #end
                #end
            </ul>
        </div>
    </section>
</section>
