#set($layout = "/layout/mobileDefault.vm")
<head>
    <title>
        我的爱卡币
    </title>
</head>
<section class="wrap">
    <section class="pages">
        <div class="p10 my-coin">
            <div class="coin">
                <p class="fs18 p1">$!{user.balanceVirtualCurrency}</p>
                <p class="p2">我的爱卡币</p>
            </div>
            <div class="submit">
                <button id="akaPay" type="button" class="br20 combtn combtn2">充 值</button>
            </div>
        </div>
    </section>
</section>
<style>
    body{background-color:#fff}
</style>
<script>
    $('#akaPay').click(function(){
        window.location='${rc.contextPath}/mobile/pay/aiKaPayView'
    })
</script>
