<!DOCTYPE html>
<html>
    #set($layout = "/layout/mobileDefault.vm")

<head>
    <title>订单支付</title>
    <meta charset="utf-8">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="web">
    <meta name="keywords" content="web">
    <meta name="browsermode" content="application">
    <meta name="x5-page-mode" content="app">

</head>
<body>
<section class="wrap">
    <section class="pages">
        <div class="payment-order">
            <div class="b-b p10 payment-order-info">
                <p>订单金额：<span class="fs16 col_o">￥$!share 爱卡币</span></p>
            </div>
            <div class="b-bt p10 payment-order-balance"> 爱卡余额：<span class="fs16 col_o">$!user.balanceVirtualCurrency 爱卡币</span> </div>
            <div class="b-bt payment-order-choose">
                <ul class="no_last">
                    <li>
                        <label class="radio-label on">
                            <input name="choose" type="radio" value="1">
                            爱卡币支付</label>
                    </li>
                </ul>
            </div>
            <div class="p10 submit">
                <button id="createOrder;" onclick="create()"  type="button" class="br30 combtn">提交订单</button>
            </div>
        </div>
    </section>
</section>

<script>

    var data = {
        "goodsId":$!goodsId,
        "share":$!share
    };
    var balanceFlag = false;
    try {
        balanceFlag = (parseFloat($!user.balanceVirtualCurrency) >= parseFloat($!share));
    }catch (e){
    }

    function create(){
        if(!balanceFlag){
            alert("余额不足,无法提交订单");
            return;
        }

        if(!window.confirm("提交订单,将支付"+data.share+"爱卡币")){
            return;
        }
        $.ajax({
            "type":"post",
            "url":"${rc.contextPath}/mobile/heart/order/create",
            "data":data,
            "success":function(resp){
                if(resp && resp.errorCode == 0){
                    window.location.href = "${rc.contextPath}/mobile/heart/order/list";
                }else{
                    alert(resp && resp.errorMessage ? resp.errorMessage : "服务器异常");
                }

            }
        });
    }



</script>

</body>
</html>
