<!DOCTYPE html>
<html>
    #set($layout = "/layout/mobileDefault.vm")
<head>
    <meta charset="utf-8">
    <title>宝贝订单详情</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="web">
    <meta name="keywords" content="web">
    <meta name="browsermode" content="application">
    <meta name="x5-page-mode" content="app">
</head>
<body>
<section class="wrap">
##    <header>
##        <a href="javascript:history.go(-1);location.reload()" class="back"></a>
##        <span class="tit">我的宝贝订单</span>
##    </header>

    <section class="bg-w  b-b duobao-order">
        <ul>
            <li>

                <img src="${rc.contextPath}$goodsDetail.goodsImg" width="80" height="80" class="fl">
                <div class="con">
                    <div class="col_3 fs15 tit">$goodsDetail.goodsName</div>
                    <div class="col_9 fs14 info">
                        <span>总爱卡币：$goodsDetail.goodsShare</span>
                        <span class="total-num">认购数量：$goodsDetail.goodsCollectShare</span>
                    </div>
                    <div class="col_8 date">时间：$!dateTool.format("yyyy-MM-dd",$!goodsDetail.goodsOnSaleDate) </div>
                </div>
            </li>
        </ul>

        <div class="p10 duobao-awards-list">
            <dl id="luck-num-area">

            </dl>
        </div>

    </section>

    #if($goodsDetail.goodsPrizeLuckNumber)
        <section class="mt10 p10 bg-w b-bt duobao-detail-info">
            <div class="item-info">
##                #if($goodsDetail.goodsPrizeUserImg)
##                    <img src="${rc.contextPath}$goodsDetail.goodsPrizeUserImg" width="40" height="40" class="fl circle">
##                #else
##                    <img src="${rc.contextPath}/media/mobile/images/face.jpg" width="40" height="40" class="fl circle">
##                #end

                <div class="con">
                    本期获奖者：$!goodsDetail.goodsPrizeUserName<br>
                    幸运号码：$!goodsDetail.goodsPrizeLuckNumber<br>
                    商品期数：$!goodsDetail.goodsPeriod<br>
                    本期参与：$!goodsDetail.goodsActorNumber 人次<br>
                    揭晓时间：$!goodsDetail.goodsPrizeOpenDate
                </div>
            </div>
            <div class="p10 item-tips">
                <span class="red">声明：所有商品抽奖活动与苹果公司无关</span>
            </div>
        </section>
    #end

</section>
    <script src="${rc.contextPath}/media/mobile/js/baiduTemplate.js"></script>
    <script>
        $(function(){
            var goodsId = $goodsDetail.id
            $.ajax({
                "type":"post",
                "url":"${rc.contextPath}/mobile/heart/order/detail/luckNums",
                "data":{
                    "goodsId":goodsId
                },
                "success":function(resp){
                    if(resp && resp.errorCode == 0){
                        $("#luck-num-area").html(baidu.template("luckNumTemplate",resp))
                    }
                }
            });
        });
    </script>
    <script id="luckNumTemplate" type="text/html">
        <%for(var i=0;i < luckNums.length;i++){%>
         <dd>幸运编号:<span class="red"><%=luckNums[i]%></span></dd>
        <%}%>
    </script>

</html>
