#set($layout = "/layout/blank.vm")
<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">
            <div class="BoxStyleA">
                <div class="breadcrumbs" id="breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <i class="icon-home home-icon"></i>
                        </li>
                        <li>认识客户</li>
                        <li><a href="javascript:freshUrl('/sf-web/knowCustomer/userList');" style="color: ">客户列表</a></li>
                        <li class="active">客户画像</li>
                    </ul>
                </div>
                <div class="widget-body">
                        <div style="width: 950px;height: auto;float: left;margin-top:20px;">
                            <canvas style="background: url(${rc.contextPath}/media/images/bg.jpg) repeat-x; border: 1px solid rgb(68, 68, 68); cursor: default;margin-left: 10px;" width="1250" height="690" id="canvas">
                            </canvas>
                        </div>
                        <div class="textBody" style="display: none;width: 50px;height: 300px;float: left;border: 1px solid red;margin-top:20px;margin-left: 100px;">
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--正在加载 -->
<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModal" aria-hidden="true" >
    <div class="modal-dialog" style="width: 400px;margin-top: 130px;">
        <div class="modal-content" >
            <div class="row">
                <div style="width: 400px;height: 300px;background: url(${rc.contextPath}/media/images/loading.gif) no-repeat;">
                    <p style="padding-top:50px;font-size: 16px;letter-spacing: 2px;">正在计算中...</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //性别
    var sex;
    switch ('$!user.sex'){
        case '1': sex = '男' ; break;
        case '2': sex = '女' ; break;
        default : sex = '未填写';
    }
    var purchaseAverageAmount = (($!user.purchaseAverageAmount)/100).toFixed(2);
    var totalPurchaseAmount = (($!user.totalPurchaseAmount)/100).toFixed(2);
    var lastPurchaseAmount = (($!user.lastPurchaseAmount)/100).toFixed(2);
    var area;
    if ('$!user.city' != ''){
        area = '$!user.province' +'/'+'$!user.city';
    }else{
        area = '$!user.province';
    }
    var firstSource;
    if ('$!user.firstSource' != 'TB' || '$!user.firstSource' != 'TM'){
        firstSource = '淘宝';
    }else if ('$!user.firstSource' != 'JD'){
        firstSource = '京东';
    }
    //位置数组
    var position = [[10,10,'$!user.name','姓名','yellow'],[145,10+55,'$!user.mobile','电话','yellow'],[280,10,firstSource,'客户来自'],
        [390,10+55,'$!user.email','邮箱','yellow',"big"],[550,10,sex,'性别'],[685,10+55,area,'地域'],[820,10,totalPurchaseAmount+'元','累计购买金额'],
        [820-100,145+60,'$!user.totalPurchaseTimes','累计购买次数'],[820,280,'$!user.interactionsTimes','互动次数','yellow'],[820-60,415-20,'$!user.mobilePurchaseRate','手机购买率'],
        [820,550,'$!user.purchaseAverageCycle','平均购买周期'],[10+40,145+20,purchaseAverageAmount+'元','平均购买金额'],[10,280,'$!user.fancy','爱好','yellow'],[10+55,415,'$!user.goodsRate','好评率'],
        [5,550,'$!user.time','最后购买时间',"","big"],[170,550-0,lastPurchaseAmount+'元','最后购买金额'],[280,550,'$!user.wxNickName','微信号','yellow'],
        [415,550-50,'$!user.liveness','客户活跃度','yellow'],[550,550,'$!user.contribution','客户贡献度'],[685,550-50,'$!user.brandFans','品牌粉丝']];
    var Xaxis = 140; //x轴位移
    for (var i=0; i<position.length; i++){
        position[i][0] += Xaxis;
    }
</script>

<script type="text/javascript" src="${rc.contextPath}/media/js/admin/knowCustomer/userPortrait.js"></script>