#set($layout = "/layout/blank.vm")
<div id="web">
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <div class="BoxStyleA">
                    <div class="breadcrumbs" id="breadcrumbs">
                        <i class="modal-logo interact"></i>
                        <ul class="breadcrumb" style="margin-left: 2px">
                            <li>
                            <li>与客户互动</li>
                            </li>
                            <li class="active">动态回复</li>
                            <li class="active">场景回复明细</li>
                        </ul><!-- .breadcrumb -->
                    </div>

                    <div class="widget-body">
                        <div class="widget-main">
                            <form class="form-horizontal markAct" id="searchForm" role="form">
                                <div class="row">
                                    <div class="col-xs-16 col-sm-10" style="margin-top: 5px;">
                                        <div class="input-group">
                                            <span  style="margin-left: 100px;">回复分类：
                                                <select name="bizType" >
                                                    <option value="" class="center">---不限---</option>
                                                    <option value="" class="center">红包</option>
                                                    <option value="" class="center">积分</option>
                                                    <option value="" class="center">礼物</option>
                                                    <option value="" class="center">兑换</option>
                                                    <option value="" class="center">物流</option>
                                                </select>
                                            </span>
                                            <span class="ml20" style="margin-left: 30px;">
                                                微信昵称：<input type="text" name="wxNiceName" />
                                            </span>
                                            <span style="margin-left: 30px;">
                                                <input type="button" class="btn_searchA" id="searchBut" value="筛选" />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="BoxStyleA" style="margin-top: 20px;">
                    <div class="BoxStyleATop">
                        <span class="fl">回复明细</span>
                    </div>
                    <table id="responseDetailTable" class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>回复分类</th>
                            <th>关键词</th>
                            <th>规则</th>
                            <th>互动微信昵称</th>
                            <th width="40%">回复内容</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="${rc.contextPath}/media/js/admin/dynamicResponse/responseDetail.js"></script>