<!DOCTYPE html>
<html>
    #set($layout = "/layout/mobileDefault.vm")
<head>
    <title>支付订单</title>
</head>
<body>
<section class="wrap">
    <section class="pages">
        <div class="payment-order">
            <div class="b-b p10 payment-order-info card-recharge">
                <p>充值选择</p>
                <div class="item">
                    <ul>
                        #foreach($item in $baseVos)
                            <li onclick="setM('$item.rechargeMoney','$item.packagesName','$item.icardMoney')" ><a href="javascript:void(0)">$item.packagesName<br>售价:$item.rechargeMoney</a></li>
                        #end
                    </ul>
                </div>
            </div>
            <div class="b-bt payment-order-choose">
                <ul class="no_last">

                    <li>
                        <label class="radio-label">
                            <input name="choose" type="radio" value="1">
                            微信支付</label>
                    </li>

                    #if($!fromType == "app")
                        <li>
                            <label class="radio-label">
                                <input name="choose" type="radio" value="2">
                                支付宝支付</label>
                        </li>
                    #end

                </ul>
            </div>
            <div class="p10 submit">
                <button onclick="pay();" type="button" class="br30 combtn">充 值</button>
            </div>
        </div>
    </section>
</section>
<script type="text/javascript" src="${rc.contextPath}/media/mobile/js/jweixin-1.0.0.js"></script>
<script>

    var rechargeMoney = "";
    var packagesName = "";
    var icardMoney = "";
    var setM = function(p,n,im){
        rechargeMoney = p;
        packagesName = n;
        icardMoney = im;
    }

    function pay(){

        if(rechargeMoney=="" &&  packagesName=="" &&  icardMoney==""){
            alert("请选择爱卡");
            return;
        }

        var choose = $('input[name="choose"]:checked').val();

        if(choose != "1" && choose != "2"){
            alert("请选择支付方式");
            return;
        }


        #if($!fromType == "app")

            $.ajax({
                type: 'POST',
                url: "${rc.contextPath}/mobile/pay/toPay?fromType=app&choose="+choose+"&token=$!token",
                data:{
                    "rechargeMoney":rechargeMoney,
                    "packagesName":packagesName,
                    "icardMoney":icardMoney
                },
                success: function (data) {
                    //走APP支付
                    var type = "";
                    if(choose == "1"){
                        type = "wxpay";
                    }else if(choose == "2"){
                        type = "alipay";
                    }
                    var obj=eval("("+data+")");
                    window.location.href = "jscall://"+type+"?orderid="+obj.payCode+"&title=爱卡支付充值&price="+obj.payAmount;

                },
                error: function(data){
                    alert("登陆失效，请重新登陆")
                }
            });

        #else
            $.ajax({
                type: 'POST',
                url: "${rc.contextPath}/mobile/pay/toPay?fromType=wx&token=$!token",
                data:{
                    "rechargeMoney":rechargeMoney,
                    "packagesName":packagesName,
                    "icardMoney":icardMoney
                },
                success: function (data) {
                    //新创建订单,走微信支付
                    var obj=eval("("+data+")");

                    if(obj.self_result!='suc'){
                        alert(obj.self_msg);
                        return;
                    }
                    WeixinJSBridge.invoke('getBrandWCPayRequest',{
                        "appId" : obj.appId,
                        "timeStamp":obj.timeStamp,
                        "nonceStr" : obj.nonceStr,
                        "package" : obj.packageValue,
                        "signType" : obj.signType,
                        "paySign" : obj.paySign
                    },function(res){
                        if(res.err_msg == "get_brand_wcpay_request:ok" ) {
                            //成功跳转的url
                            window.location.href=obj.sendSucUrl;
                        }else{
                            //失败跳转的url
                            window.location.href=obj.sendFailUrl;
                        }
                    });
                },
                error: function(data){
                    alert("登陆失效，请重新登陆")
                }
            });
        #end

    }


    function appCall(){
        window.location.href = "${rc.contextPath}/mobile/user/icardMoney";
    }

</script>

</body>
</html>
