<!DOCTYPE html>
<html>
    #set($layout = "/layout/mobileDefault.vm")

<head>
    <title>订单支付</title>
    <meta charset="utf-8">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="web">
    <meta name="keywords" content="web">
    <meta name="browsermode" content="application">
    <meta name="x5-page-mode" content="app">
    <style type="text/css">#dialog{display:none;}</style>
</head>
<body>
<section class="wrap">
    <section class="pages">
        <div class="payment-order">
            <div class="b-b p10 payment-order-info">
                <p>订单名称 : <span class="fs16 col_o">#if($!payFrom=="line")$!seller.sellerName (用户扫码支付订单)#else$!trade.title#end</span></p>

                <p>订单金额：<span class="fs16 col_o">#if($!payFrom=="line")<h id="changeFee"></h> <input name="fee" id="fee" type="text" oninput="showFee();" class="inp" placeholder="请输入金额">#else￥$!trade.fee/$!aiKaFee 爱卡币#end</span></p>
                #if($!payFrom=="line")
                    <p>备注 :<input name="demo" id="demo" type="text" class="inp" placeholder="消费说明"></p>
                #end
            </div>
            <div class="b-bt p10 payment-order-balance"> 爱卡余额：<span class="fs16 col_o">$!user.balanceVirtualCurrency 爱卡币</span> </div>
            <div class="b-bt payment-order-choose">
                <ul class="no_last">
                    <li>
                        <label class="radio-label">
                            <input name="choose" type="radio" value="1">
                            爱卡币支付</label>
                    </li>
                    #if($!fromType == "app")
                        <li>
                            <label class="radio-label">
                                <input name="choose" type="radio" value="3">
                                支付宝支付</label>
                        </li>
                    #end
                    <li>
                        <label class="radio-label">
                            <input name="choose" type="radio" value="2" >
                            微信支付</label>
                    </li>
                </ul>
            </div>
            <div class="p10 submit">
                <button onclick="showDialog();"  type="button" class="br30 combtn">提交订单</button>
            </div>
        </div>
    </section>
</section>

<div id="dialog" title="输入密码">
                <div class="login" style="background-color: #708090;">
                        <ul>
                            <li class="binding">
                                <input id="pword" name="pword"class="inp" placeholder="请输入登陆密码">
                            </li>
                        </ul>
                        <div class="submit">
                            <button id="pwButton" type="button" class="br20 combtn" onclick="pay()">提 交</button>
                            <button id="pwButton" type="button" class="br20 combtn" onclick="pay()">提 交</button>
                        </div>

                </div>
</div>

<script type="text/javascript" src="${rc.contextPath}/media/mobile/js/jweixin-1.0.0.js"></script>
<script>

    var price = "";
    var name = "";
    var setM = function(p,n){
        price = p;
        name = n;

    }

    var showFee = function(){
        var fee = $("#fee").val();
        $("#changeFee").html("￥"+fee+"/"+fee+" 爱卡币")
    }

    var showDialog =  function(){

        var choose = $('input[name="choose"]:checked').val();

        if(choose == "1"){
            $("#dialog").dialog({
                draggable: false,
                resizable: false,
                height: 280,
                modal: true,
                buttons: {
                    "取消": function () {
                        $(this).dialog("close");
                    }
                }
            });
        }else{
            pay();
        }


    }

    var pay = function(){

        var payFrom = "$!payFrom";
        if(payFrom=="line" && !$("#fee").val()){
            alert("金额不能为空!");
            return;

        }

        if(payFrom=="line" && isNaN($("#fee").val())){
            alert("金额输入不正确!");
            return;
        }

        var choose = $('input[name="choose"]:checked').val();

        if(choose != "1" && choose != "2" && choose != "3"){
            alert("请选择支付方式");
            return;
        }

        var pword = $('#pword').val();

        #if($!fromType == "app")

            $.ajax({
                type: 'POST',
                url: "${rc.contextPath}/mobile/orderPay/toPay?fromType=app&token=$!token",
                data:{
                    "pword":pword,
                    "choose":choose,
                    "tradeId":"$!trade.tid",
                    "sellerId":"$!seller.sellerId",
                    "payFrom":payFrom,
                    "fee":$("#fee").val(),
                    "demo":$("#demo").val()
                },
                success: function (data) {

                    if(choose == "1"){

                        if(data != 'errorPwd'){
                            alert(data);
                            window.location.href = "${rc.contextPath}/mobile/user/trade";
                        }else{
                            alert("密码错误");
                        }
                    }else{
                        //走APP支付
                        var type = "";
                        if(choose == "2"){
                            type = "wxpay";
                        }else if(choose == "3"){
                            type = "alipay";
                        }
                        var obj=eval("("+data+")");
                        window.location.href = "jscall://"+type+"?orderid="+obj.payCode+"&title=商品支付&price="+obj.payAmount;
                    }

                },
                error: function(data){
                    alert("登陆失效，请重新登陆");
                }
            });
        #else


            $.ajax({
                type: 'POST',
                url: "${rc.contextPath}/mobile/orderPay/toPay?fromType=wx&token=$!token",
                data:{
                    "pword":pword,
                    "choose":choose,
                    "tradeId":$!trade.tid
                },
                success: function (data) {
                    //爱卡币支付
                    if(choose == "1"){

                        if(data != 'errorPwd'){
                            alert(data);
                            window.location.href = "${rc.contextPath}/mobile/user/trade";
                        }else{
                            alert("密码错误");
                        }
                    }else{
                        //新创建订单,走微信支付
                        var obj=eval("("+data+")");
                        if(obj.self_result!='suc'){
                            alert(obj.self_msg);
                            return;
                        }
                        WeixinJSBridge.invoke('getBrandWCPayRequest',{
                            "appId" : obj.appId,
                            "timeStamp":obj.timeStamp,
                            "nonceStr" : obj.nonceStr,
                            "package" : obj.packageValue,
                            "signType" : obj.signType,
                            "paySign" : obj.paySign
                        },function(res){
                            if(res.err_msg == "get_brand_wcpay_request:ok" ) {
                                //成功跳转的url
                                window.location.href=obj.sendSucUrl;
                            }else{
                                //失败跳转的url
                                window.location.href=obj.sendFailUrl;
                            }
                        });
                    }
                },
                error: function(data){
                    alert("登陆失效，请重新登陆");
                }
            });

        #end

    }

    function appCall(){
        window.location.href = "${rc.contextPath}/mobile/user/trade";
    }

</script>

</body>
</html>
