#set($layout = "/layout/blank.vm")


<div class="row">
<div class="col-xs-12">
    <div class="table-responsive">
        <div class="BoxStyleA">
            <div class="breadcrumbs" id="breadcrumbs">
                <i class="modal-logo interact"></i>
                <ul class="breadcrumb" style="margin-left: 2px">
                    <li></li>
                    <li>会员管理</li>
                    <li>推荐返现设置</li>
                </ul>
                <!-- .breadcrumb -->
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <form class="form-search" id="signInConifgForm">
                        <div class="tabbable" >
                            <div class="row" id="mvGruop">
                              <div class="tab-content">
                                    <div id="indexpage" class="tab-pane in active">
                                        <div id="package1">
                                             #set($memberLevelIndex=1)
                                              #if($memberLevelVOList)
                                                 #foreach($memberLevelVO in $memberLevelVOList)
                                                     <div class="col-xs-16 col-sm-12" id="input_group_'+$memberLevelIndex+'" style="margin-top: 10px"><div class="col-sm-3"></div>
                                                     <div class="integralSignIn1 input-group">&nbsp;会员等级：&nbsp;&nbsp;
                                                         <select name="memberLevel_'+$memberLevelIndex+'" id="memberLevel_'+$memberLevelIndex+'" class="memberLevel">
                                                                    <option value=""></option>
                                                              #foreach($lstOfValVO in $lstOfValList)
                                                                 #if ($memberLevelVO.memberLevel == $lstOfValVO.name && ($!{memberLevelVO.rebReturnRatio}!="" || $!{memberLevelVO.icardReturnRatio}!=""))
                                                                    <option selected="selected" value="$memberLevelVO.memberLevel">$memberLevelVO.memberLevel</option>
                                                                 #else
                                                                   <option value="$lstOfValVO.name">$lstOfValVO.name</option>
                                                                 #end
                                                              #end
                                                         </select>
                                                         &nbsp;&nbsp;人民币返现比例：&nbsp;&nbsp;<input  type="text" class="rebReturnRatio" id="rebReturnRatio_'+$memberLevelIndex+'" value="$!{memberLevelVO.rebReturnRatio}"/>&nbsp;&nbsp;爱卡币返现比例：&nbsp;&nbsp;<input  type="text" class="icardReturnRatio" id="icardReturnRatio_'+$memberLevelIndex+'" value="$!{memberLevelVO.icardReturnRatio}"/>&nbsp;&nbsp;<span class="delIcon" id="del_'+$memberLevelIndex+'"></span>
                                                     </div>
                                                     </div>
                                                     #set($memberLevelIndex=$memberLevelIndex+1)
                                                 #end
                                             #else
                                                <div class="col-xs-16 col-sm-12" id="input_group_1">
                                                    <div class="col-sm-3"></div>
                                                    <div class="integralSignIn1 input-group">
                                                         &nbsp;会员等级：&nbsp;&nbsp;
                                                         <select name="memberLevel_1" id="memberLevel_1" class="memberLevel">
                                                              <option value=""></option>
                                                              #foreach($lstOfValVO in $lstOfValList)
                                                                    <option value="$lstOfValVO.name">$lstOfValVO.name</option>
                                                              #end
                                                          </select>
                                                         &nbsp;&nbsp;人民币返现比例：&nbsp;&nbsp;<input  class="rebReturnRatio" type="text" id="rebReturnRatio_1"/>&nbsp;&nbsp;爱卡币返现比例：&nbsp;&nbsp;<input  class="icardReturnRatio" type="text" id="icardReturnRatio_1"/>
                                                    </div>
                                                </div>
                                             #end
                                             <select name="selectname" id="selectid" class="select" style="display:none">
                                                 <option value=""></option>
                                                 #foreach($lstOfValVO in $lstOfValList)
                                                       <option value="$lstOfValVO.name">$lstOfValVO.name</option>
                                                 #end
                                             </select>
                                         </div>
                                    </div>
                              </div>
                            </div>
                            <div>&nbsp</div>
                            <div style="margin-bottom: 10px;margin-top: 20px;">
                                 <center>
                                     <input class="sure" type="button" value="新增一条" onclick="addMemberReturn()"/>
                                     <input class="sure" type="submit" value="保存" onclick="saveMemberReturn()"/>
                                 </center>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div>&nbsp</div>
    </div>
</div>
</div>
<script type="text/javascript" src="${rc.contextPath}/media/js/admin/member/member.js"></script>