#set($layout = "/layout/blank.vm")
<script type="text/javascript" src="${rc.contextPath}/media/js/admin/member/memberRecharge.js"></script>

<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">
            <div class="BoxStyleA">
                <div class="breadcrumbs" id="breadcrumbs">
                    <i class="modal-logo interact"></i>
                    <ul class="breadcrumb" style="margin-left: 2px;">
                        <li></li>
                        <li>会员管理</li>
                        <li>充值记录</li>
                    </ul>
                    <!-- .breadcrumb -->
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <form class="form-search" id="memberRechargeForm">
                            <div class="row">
                                <div class="col-xs-16 col-sm-12">
                                    <div class="input-group">
                                        <span class="ml20">用户名：<input type="text" name="userName"/></span>
                                        <span class="ml20">类型：
                                            <select name="payType">
                                                <option value="">所有</option>

                                                <option value="1">微信充值爱卡币</option>
                                                <option value="5">支付宝充值爱卡币</option>
                                                <option value="3">爱卡币充值会员</option>
                                                <option value="2">微信充值会员</option>
                                                <option value="6">支付宝充值会员</option>
                                                <option value="8">爱卡币支付订单</option>
                                                <option value="4">微信支付订单</option>
                                                <option value="7">支付宝支付订单</option>
                                                <option value="9">线下支付订单</option>


                                            </select>
                                        </span>

                                        <span class="ml20">&nbsp;&nbsp;开始时间：<input  type="text" name="startTime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"/></span>
                                        <span class="ml20">&nbsp;&nbsp;结束时间：<input  type="text" name="endTime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"/></span>

                                        <span>
                                          <button class="btn_searchA ml20" type="button" id="memberRechargeSearch"> 查询  </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div>&nbsp</div>
            <div class="BoxStyleA">
                <div class="BoxStyleATop">
                    <span class="fl">缴费信息</span>
                    <!--<a href="" class="fr">X</a>-->
                </div>
                <table id="rechargeListTable" class="table table-striped table-bordered table-hover" style="width: 100%">
                    <thead>
                    <tr>
                        <th>充值流水</th>
                        <th>用户ID</th>
                        <th>用户名称</th>
                        <th>充值爱卡币</th>
                        <th>金额</th>
                        <th>类型</th>
                        <th>操作时间</th>
                        <th>状态</th>
                    </tr>
                    </thead>

                    <tbody id="tbContainer">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>