#set($layout = "/layout/blank.vm")

<script type="text/javascript" src="${rc.contextPath}/media/js/admin/geo.js"></script>
<div id="web">
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <div class="BoxStyleA">
                    <div class="breadcrumbs" id="breadcrumbs">
                        <i class="modal-logo interact"></i>
                        <ul class="breadcrumb" style="margin-left: 2px;">
                            <li></li>
                            <li>活动管理</li>
                            <li>宝贝订单管理</li>
                        </ul><!-- .breadcrumb -->
                    </div>

                    <div class="widget-body">
                        <div class="widget-main">
                            <form class="form-search" id="searchForm">
                                <div class="row">
                                    <div class="col-xs-16 col-sm-12">
                                        <div class="input-group">
                                            <span class="ml20">宝贝名称：<input  type="text" name="goodsName" /></span>
                                            <span class="ml20">幸运号码：<input  type="text" name="orderLuckNumber" /></span>
##                                            <span class="ml20">&nbsp;&nbsp;有效时间：<input  type="text" name="startDate" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"/></span>
##                                            <span class="ml20">&nbsp;&nbsp;至：<input  type="text" name="endDate" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"/></span>
                                            <span >
                                                <input class="btn_searchA ml20" type="submit" value="搜索"/>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div>&nbsp</div>
                <div class="BoxStyleA">
                    <div class="BoxStyleATop">
                        <span class="fl">宝贝订单信息</span>
##                        <div class="icon_box fl">
##                            <a href="javascript:void(0);" class="icon_add"   onclick="addHeartGoodsUI()" >添加</a>
##                        </div>
                        <!--<a href="" class="fr">X</a>-->
                    </div>
                    <table id="imgTable" class="table table-striped table-bordered table-hover" style="width: 100%">
                        <thead>
                        <tr>
                            <td>
                                <label>
                                    <input type="checkbox" class="ace" id="allCheckbox" onclick="javascript:selectAll()" value="true" />
                                    <span class="lbl"></span>
                                </label>
                            </td>
                            <th>宝贝名称</th>
                            <th style="width: 13%">购买用户名</th>
                            <th>购买份额</th>
                            <th>购买金额</th>
                            <th>下单日期</th>
                            <th>订单状态</th>
                            <th>中奖编号</th>
                            <th>是否中奖</th>
                            <th>操作</th>
                        </tr>

                        </thead>

                        <tbody id="tbContainer">
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal end -->

    <script type="text/javascript" src="${rc.contextPath}/media/js/admin/heart/order/heartOrder.js"></script>

</div>
