#set($layout = "/layout/mobileBlank.vm")
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>摇一摇</title>
    <meta name="apple-touch-fullscreen" content="YES">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="pragram" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="${rc.contextPath}/media/mobile/assets/css/shake/shake.css" />
    <link rel="stylesheet" href="${rc.contextPath}/media/mobile/assets/css/shake/shakeHB.css" />
    <style>
        .pic{background: url(${rc.contextPath}/media/mobile/assets/images/shake/hb_btn.png) no-repeat;background-size: 50px;}
        .footer ul{
            text-align: center;
            font-size: 14px;
            color: #fff;
        }
        .footer ul a{
            width:30%;
            height: auto;
            padding: 2px;
            display: inline-block;
        }
        .footer ul span{display: block;margin: auto;width: 30px;height: 35px;}
        .footer ul .lw span{background: url(${rc.contextPath}/media/mobile/assets/images/shake/icon_lw.png) no-repeat;background-size: 30px;height: 38px;}
        .footer ul .jf span{background: url(${rc.contextPath}/media/mobile/assets/images/shake/icon_jf.png) no-repeat;background-size: 45px;width: 45px;height: 36px;}
        .footer ul .hb span{background: url(${rc.contextPath}/media/mobile/assets/images/shake/icon_hb.png) no-repeat;background-size: 30px;}
        .footer ul .on span{background-position: 0 -38px;}
        .footer ul p{color: #fff;margin-top: 10px;}
    </style>
</head>
<body>

    <div id="hand" class="hand"></div>
    <div id="loading" class="loading"></div>
    <audio src="${rc.contextPath}/media/mobile/assets/music/shake.mp3" id="audio"  style="display: none;"></audio>
    <div id="result" class="result">
        <input type="hidden" id="shankType"/>
        <input type="hidden" id="obtainId">
        <div class="pic"></div>
        <div class="con">
            摇一摇结果
            <br>恭喜您，摇到了一个积分红包
        </div>
    </div>
    <div class="footer" style="position: fixed;bottom: 20px;width: 100%;">
        <ul>
            <a href="javascript:void(0)" class="lw">
                <span></span>
                <p>礼物</p>
            </a>
            <a href="javascript:void(0)" class="jf">
                <span></span>
                <p>积分</p>
            </a>
            <a href="javascript:void(0)" class="hb on">
                <span></span>
                <p>红包</p>
            </a>
        </ul>
    </div>

    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true">
        <div class="modal-dialog" style="width: 100%;height: 80%;z-index:-999px">
            <div class="modal-content" >
                <div class="row">
                    <div class="wap hb-page">
                        <div class="hb-box">
                            <img src="${rc.contextPath}/media/mobile/assets/images/shake/hb_bg.png"/>
                            <a href="/sf-web/mobile/checkhb" class="open-hb"><img src="${rc.contextPath}/media/mobile/assets/images/shake/hb_btn.png" /></a>
                            <div class="hb-infor">
                                <div class="user-pic">
                                    <img src="${rc.contextPath}/media/mobile/assets/images/shake/user.png" />
                                </div>
                                <p>获得 1 红包</p>
                                <h4>恭喜发财,大吉大利</h4>
                                <a href="javascript:;" class="share-btn">分享给朋友</a>
                            </div>
                        </div>
                        <div class="giveTip" id="giveTip" style="display:none;">
                            <p class="icon-friend"><img src="${rc.contextPath}/media/mobile/assets/images/shake/share_to_friend.png" /></p>
                            <div class="giveTip-content">
                                <h4>点击分享</h4>
                                <p>邀请好友一起来玩</p>
                                <a href="javascript:;" class="give-colseBtn">我知道了</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
    var SHAKE_THRESHOLD = 1000;
    var last_update = 0;
    var x = y = z = last_x = last_y = last_z = 0;

    if (window.DeviceMotionEvent) {
        window.addEventListener('devicemotion', deviceMotionHandler, false);
    } else {
        alert('本设备不支持devicemotion事件');
    }
    var shakeCount = 0;

    function deviceMotionHandler(eventData) {
        var acceleration = eventData.accelerationIncludingGravity;
        var curTime = new Date().getTime();

        if ((curTime - last_update) > 100) {
            var diffTime = curTime - last_update;
            last_update = curTime;
            x = acceleration.x;
            y = acceleration.y;
            z = acceleration.z;
            var speed = Math.abs(x + y + z - last_x - last_y - last_z) / diffTime * 10000;
            var status = document.getElementById("status");
            if (speed != null){
                shakeCount = 1;
            }

            if (speed > SHAKE_THRESHOLD && shakeCount > 0) {
                doResult();
            }
            last_x = x;
            last_y = y;
            last_z = z;
        }
    }

    function doResult() {

        var rockId = $.query.get('rockId');
        var rockType = $("#")

        $.ajax({
            type: "post", // 请求方式
            url:  baseUrl+"mobile/rock/doRock", //url地址
            data: {userId:'1',rockId:rockId,sellerID:'1',rockType:'POINT'}, //数
            dataType: "json",
            beforeSend: function(){
                document.getElementById("hand").className = "hand hand-animate";
                document.getElementById("result").className = "result";
                document.getElementById("loading").className = "loading loading-show";
                var audio=document.getElementById('audio');
                audio.play();
            },
            success: function (data) {
                if(data.errorCode == 0){
                    if (data.info == 1){
                        document.getElementById("hand").className = "hand";
                        document.getElementById("result").className = "result resultShow";
                        document.getElementById("loading").className = "loading";


                    }else{

                    }

                    document.getElementById("loading").className = "loading";
                }else{
                    alert(data.errorMessage);
                }
            }, error: function () {
                alert("系统异常，请稍后重试。");
                document.getElementById("loading").className = "loading";
            }
        });

//        setTimeout(function(){
//            document.getElementById("hand").className = "hand";
//            document.getElementById("result").className = "result resultShow";
//            document.getElementById("loading").className = "loading";
//        }, 1500);
    }
    $(".footer a").click(function(){
        $(this).addClass('on').siblings().removeClass('on');
        document.getElementById("loading")
        


    })

    $('#result').on('click',function(){
        var name = document.getElementById("result").className;
        if (name == 'result resultShow'){
            $('#Modal').modal('show');
        }else{
            return;
        }
    })

    $(".share-btn").bind('click', function(event) {
        giveTipShow();
        event.preventDefault();
    });

    // 分享JS
    function giveTipShow(){
        $('#giveTip').show();
    }
    $('.give-colseBtn').bind('click', function(event) {
        $('#giveTip').hide();
    });



</script>

</body>
</html>