<!DOCTYPE html>
<html>
    #set($layout = "/layout/mobileDefault.vm")
<head>
    <meta charset="utf-8">
    <title>奖品详情</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="web">
    <meta name="keywords" content="web">
    <meta name="browsermode" content="application">
    <meta name="x5-page-mode" content="app">

</head>
<body>
<section class="wrap">
##    <header>
##        <a href="javascript:history.go(-1);location.reload()" class="back"></a>
##        <span class="tit">奖品详情</span>
##    </header>
    <section class="flexslider mainslide">
        <ul class="slides">
            #foreach($path in $goodsDetail.goodsDetailImgList)
                <li><img src="${rc.contextPath}$path" /></li>
            #end
        </ul>
    </section>
    <section class="mt10 p10 bg-w duobao-detail-info">
        <div class="item-hd">
            <span class="status">$!goodsDetail.goodsStatus</span>
            <span class="tit">$!goodsDetail.goodsName</span>
        </div>
        <div class="pt5 item-num">
            <p class="tit">商品期数：$!goodsDetail.goodsPeriod</p>
        </div>
        <div class="pt5 item-progress">
            <p class="progress-bar"><i style="width:$!goodsDetail.process"></i></p>
            <p class="pt5 progress-info">
                <span class="fl">总需：<span class="red">${goodsDetail.goodsShare}</span> 次数</span>
                #set($tmp=$goodsDetail.goodsShare - $goodsDetail.goodsCollectShare)
                <span class="fr">剩余：<span class="blue">${tmp}</span> 次数 </span>
            </p>
        </div>
        <div id="lastPeriodDiv">
            本活动及活动奖品均与苹果公司无关
        </div>

    </section>

    <section class="mt10 p10 bg-w duobao-detail-recording">
        <div class="b-b item-hd"><span class="fs14 tit">参与记录</span></div>
        <div class="item-bd">
            <ul id="actorDetailArea" class="no_last">
##                <li>
##                    <img src="images/face.jpg"  width="40" height="40" class="fl circle">
##                    <div class="con">
##                        <p class="tit">惜欲浔陈迹</p>
##                        <p class="info"><span class="fr col_9 date">2016-03-21 20:08</span>参与了 <span class="red">888</span> 人次</p>
##                    </div>
##                </li>
##                <li>
##                    <img src="images/face.jpg"  width="40" height="40" class="fl circle">
##                    <div class="con">
##                        <p class="tit">惜欲浔陈迹</p>
##                        <p class="info"><span class="fr col_9 date">2016-03-21 20:08</span>参与了 <span class="red">888</span> 人次</p>
##                    </div>
##                </li>
            </ul>
        </div>
    </section>
    <section class="duobao-footer">
        <span class="fl  col_9 tit">第${goodsDetail.goodsPeriod}期正在进行...</span>

        #if($goodsDetail.goodsStatusCode == 10 && $tmp > 0)
            <a href="${rc.contextPath}/mobile/heart/order/toCreatePage?goodsId=$goodsDetail.id" class="fr btn">立即参与</a>
        #else
            <a href="javascript:void(0);" class="fr btn btn-disabled">立即参与</a>
        #end

    </section>
</section>

<link rel="stylesheet" href="${rc.contextPath}/media/mobile/css/flexslider.css" type="text/css" media="screen" />
<script src="${rc.contextPath}/media/mobile/js/jquery.flexslider.js"></script>
<script src="${rc.contextPath}/media/mobile/js/baiduTemplate.js"></script>
<script type="text/javascript">
    $(window).load(function(){
        $('.flexslider').flexslider({
            animation: "slide",
            directionNav: false,
            start: function(slider){
                //$('body').removeClass('loading');
            }
        });

    });

</script>
##<script src="js/circle-progress.js"></script>
<script>
    $(function(){
        var id = $goodsDetail.id;

        //加载上期宝贝情况
        $.ajax({
            "type:":"post",
            url:"${rc.contextPath}/mobile/heart/goods/detail/lastPeriodDetail",
            data:{
                "id":id
            },
            success:function(resp){
                if(resp.errorCode == 0 && resp.lastPeriodDetail && resp.lastPeriodDetail.id > 0){
                    //数据正常
                    $("#lastPeriodDiv").html(baidu.template('lastPeriodInfoRemplate',resp));
                }
            }
        })

        //加载本期参与情况
        $.ajax({
            "type:":"post",
            url:"${rc.contextPath}/mobile/heart/goods/detail/actorDetail",
            data:{
                "goodsId":id
            },
            success:function(resp){
                if(resp.errorCode == 0 && resp.actorDetailList && resp.actorDetailList.length > 0){
                    //数据正常

                    $("#actorDetailArea").html(baidu.template('actorDetailTemplate',resp));
                }

            }
        })
    });

</script>

<script id="lastPeriodInfoRemplate" type="text/html">

    <div  class="item-info">
        <%if(lastPeriodDetail.goodsPrizeUserImg){%>
        <img src="<%=lastPeriodDetail.goodsPrizeUserImg%>" width="40" height="40" class="fl circle">
        <%}else{%>
        <img src="${rc.contextPath}/media/mobile/images/face.jpg" width="40" height="40" class="fl circle">
        <%}%>

        <div class="con">
            上期获奖者：<%=lastPeriodDetail.goodsPrizeUserName %><br>
            幸运号码：<%=lastPeriodDetail.goodsPrizeLuckNumber %><br>
            商品期数：<%=lastPeriodDetail.goodsPeriod %><br>
            本期参与：<%=lastPeriodDetail.goodsActorNumber %> 人次<br>
            揭晓时间：<%=lastPeriodDetail.goodsPrizeOpenDate %>
        </div>
    </div>

    <div class="p10 item-tips">
        <span class="red">声明：所有商品抽奖活动与苹果公司无关</span>
    </div>



</script>

<script id="actorDetailTemplate" type="text/html">
    <%for(var i=0;i < actorDetailList.length;i++){%>
        <li>
            <%if(actorDetailList[i].userImg){%>
            <img src="<%=actorDetailList[i].userImg%>" width="40" height="40" class="fl circle">
            <%}else{%>
            <img src="${rc.contextPath}/media/mobile/images/face.jpg" width="40" height="40" class="fl circle">
            <%}%>
            <div class="con">
                <p class="tit"><%=actorDetailList[i].userName %></p>
                <p class="info"><span class="fr col_9 date">  <%=actorDetailList[i].obtainDate %></span>参与了 <span class="red"><%=actorDetailList[i].orderShare %></span> 人次</p>
            </div>
        </li>
    <%}%>


</script>

</html>
