#set($layout = "/layout/blank.vm")
<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="utf-8"/>
    <title></title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <style type="text/css">
        .row{
            margin: 0;
            padding: 0;
        }
    </style>

</head>
<body>
    <div class="row">
        $content
    </div><!-- /row end -->
</body>
</html>