#set($layout = "/layout/blank.vm")
<style type="text/css">
    .help-block {
        display: block;
    }
</style>
<script type="text/javascript" src="${rc.contextPath}/media/js/admin/geo.js"></script>
<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">
            <div class="BoxStyleA">
                <div class="breadcrumbs" id="breadcrumbs">
                    <i class="modal-logo interact"></i>
                    <ul class="breadcrumb" style="margin-left: 2px">
                        <li></li>
                        <li>商家管理</li>
                        <li>商家信息</li>
                    </ul><!-- .breadcrumb -->
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <form class="form-horizontal" role="form" id="detailForm" method="post">
                            <input type="hidden" name="id">
                            <input type="hidden" name="sellerId">
                            <div class="form-group" style="margin-top: 5px">
                                <label  class="col-xs-2">商家名称:</label>
                                <input class="col-xs-3" type="text"  name="sellerName"/>
                                <span  class="required">*</span>
                                <label class="col-xs-2">用户推荐码:</label>
                                <input type="text" class="col-xs-3"  name="businesstouserRecommendCode" />
                            </div>

                            <div class="form-group" style="margin-top: 5px">
                                <label  class="col-xs-2">联系人:</label>
                                <input class="col-xs-3" type="text"  name="contacts"/>
                                <span  class="required">*</span>
                                <label class="col-xs-2">手机号:</label>
                                <input type="text" class="col-xs-3"  name="mobile" />
                                <span  class="required">*</span>
                            </div>

                            <div class="form-group" style="margin-top: 5px">
                                <label  class="col-xs-2">商家折扣(9即9折):</label>
                                <input class="col-xs-3" type="text"  name="discount"/>
                                <span  class="required">*</span>
                                <label class="col-xs-2">营业执照复印件:</label>
                                <div style="margin-left: 12px;">
                                    <img name="businessLicense" style="display: none;width:200px;height: 100px;"  />
                                    <div style="position: relative;float: left;width: 70px;height: 30px;text-align: center;border-radius: 2px;background-color: #428bca;">
                                        <a style="color: #fff;font-size: 14px;line-height: 30px;">选择</a>
                                        <div style="position: absolute;top:0;left:0;">
                                            <input type="file" name="businessLicenseDetail" id="businessLicenseDetail" style="width: 200px; height: 30px;background: rgb(255, 255, 255) none repeat scroll 0% 0%;"
                                                    />
                                        </div>
                                    </div>
                                    <p  class="required" style="margin-left: 140px;display: inline-block">*</p>
                                </div>

                            </div>


                            <div class="form-grounp"  >
                                <label class="col-xs-1">省</label>
                                <select id="province" name="province" class="col-xs-2">
                                    <option></option>
                                </select>

                                <label class="col-xs-1">市</label>
                                <select id="city" name="city" class="col-xs-2">
                                    <option></option>
                                </select>

                                <label class="col-xs-1">区/县</label>
                                <select id="district" name="district" class="col-xs-3">
                                    <option></option>
                                </select>

                            </div>

                            <div class="form-group" style="margin-top:60px">
                                <label  class="col-xs-2">详细地址:</label>
                                <input class="col-xs-8" type="text"  name="address"/>
                                <span  class="required">*</span>
                            </div>

                            <div class="form-group"  style="margin-top: 5px;">
                                <label  class="col-xs-2">电子邮箱:</label>
                                <input class="col-xs-3" type="text"  name="email"/>
                                <span  class="required">*</span>
                                <label class="col-xs-2">座机号:</label>
                                <input type="text" class="col-xs-3"  name="phone" />
                                <span  class="required">*</span>
                            </div>

                            <div class="form-group"  style="margin-top: 5px;">
                                <label  class="col-xs-2">支付宝账户:</label>
                                <input class="col-xs-3" type="text"  name="alipayUserId"/>
                                <span  class="required">*</span>
                                <label class="col-xs-2">支付宝名称:</label>
                                <input type="text" class="col-xs-3"  name="alipayUserName" />
                                <span  class="required">*</span>
                            </div>


                            <div class="form-group" style="margin-top: 5px">
                                <label  class="col-xs-2">简介:</label>
                                <input class="col-xs-8" type="text"  name="sellerBrief"/>
                                <span  class="required">*</span>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-2">商家缩略图:</label>
                                <div style="margin-left: 12px;">
                                    <img name="sellerPicture" style="display: none;width:200px;height: 100px;"  />
                                    <div style="position: relative;float: left;width: 70px;height: 30px;text-align: center;border-radius: 2px;background-color: #428bca;">
                                        <a style="color: #fff;font-size: 14px;line-height: 30px;">选择</a>
                                        <div style="position: absolute;top:0;left:0;">
                                            <input type="file" name="sellerPictureDetail" id="sellerPictureDetail" style="width: 200px; height: 30px;background: rgb(255, 255, 255) none repeat scroll 0% 0%;"
                                                    />
                                        </div>
                                    </div>
                                    <p  class="required" style="margin-left: 140px;display: inline-block;">*</p>
                                </div>
                                <p style="display: block;float: left;color: red">&nbsp&nbsp(图片规格140 * 128)</p>
                            </div>

##                            <div class="form-group">
##                                <label  class="col-xs-2">商家详情:</label>
##                                <div class="col-sm-9" style="text-align: left">
##                                    <script id="editor" type="text/plain" style="width:100%; height:300px;" name="content">
##                                        $!mallGoods.goodsDetail
##                                    </script>
##                                </div>
##                            </div>

                            <div class="modal-footer">
                                <center><input class="sure" type="submit" id="updateForm"  value="确定" >&nbsp;
                                    <input class="cancel" type="button" data-dismiss="modal" aria-hidden="true" value="取消"></center>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    //    var ue = UE.getEditor('editor');
//    var editor = new baidu.editor.ui.Editor();
//    editor.render("editor");

    // 省市区三级联动
//    new Dsy({
//        // 绑定三个select的id
//        s:['province','city','district'],
//        // 是否是大陆
//        isMainLand:true,
//        // 默认浙江省
//        p_key:'浙江省'
//    });

</script>

<script type="text/javascript" src="${rc.contextPath}/media/js/admin/seller/sellerDetail.js"></script>