<%--
  Created by IntelliJ IDEA.
  User: lin
  Date: 2015/6/11
  Time: 20:50
  To change this template use File | Settings | File Templates.
--%>
#set($layout = "/layout/default.vm")
<style>
    html{
        position: absolute;
    }
</style>
<div class="row">
    <h1>${success}</h1>
</div>
