<!DOCTYPE html>
<html>
    #set($layout = "/layout/mobileDefault.vm")
<head>
    <title>商品详情</title>
</head>
<body>
<section class="wrap" style="padding-bottom:0">


    <section class="pages">
        <div class="photo-text-detail">
            <div class="photo-text-detail-photo"><img src="${rc.contextPath}/$goods.imgsUrl"></div>
            <div class="bg-w photo-text-detail-info">
                <ul>
                    <li><a href="${rc.contextPath}/mobile/order/submit?goodsId=$goods.goodsId" class="fr br5 btn">立即抢购</a>
                        #if(${goods.nowPrice})
                            <span class="fs18 p1">$numberTool.format("#0.00", ${goods.nowPrice})<i>元</i></span><span class="p2">$numberTool.format("#0.00", ${goods.price})元</span>
                        #else
                            <span class="fs18 p1">$numberTool.format("#0.00", ${goods.price})<i>元</i></span>
                        #end
                    </li>
                    <li><span class="fl tui">随时退</span><span class="fr num">已售$!{goods.purchaseQuantity}&nbsp;&nbsp;到期时间：$!dateTool.format("yyyy-MM-dd", ${goods.expiredEndTime})</span></li>
                    <li class="arrow-icon arrow-icon-g"><a href="${rc.contextPath}/mobile/goods/comment?goodsId=$goods.goodsId"><span class="fr total">$!{commentNum}人评价</span>商家累积评分：<span class="star"></span></a></li>
                </ul>
            </div>
            <div id="seller_detail" class="b-bt photo-text-detail-business" href="${rc.contextPath}/mobile/seller/detail?sellerId=$seller.sellerId">
                <div class="p10 b-b item-hd"><span class="col_0">商家信息</span></div>
                <div class="p10 item-bd">
                    <div class="table">
                        <div class="table-cell item-con">
                            <div class="col_0 t1">${seller.sellerName}</div>
                            <div class="t2">${seller.address}</div>
                            <div class="t3 distance">$!{seller.distance}m</div>
                        </div>
                        <div class="table-cell v-m item-btn"> <a href="tel:$!{seller.phone}" class="btn">&nbsp;</a> </div>
                    </div>
                </div>
            </div>
            <div class="b-bt photo-text-detail-intro">
                <div class="p10 b-b item-hd"><span class="col_0">商品详情</span></div>
                <div class="p10 item-bd">
                    <div class="table">
                        <div class="table-cell t1">套餐内容</div>
                        <div class="table-cell t1">单价</div>
                        <div class="table-cell t1">数量/规格</div>
                        <div class="table-cell t1">小计</div>
                    </div>
                    #foreach($combo in $comboes)
                        <div class="table">
                                <div class="table-cell t1">$combo.title</div>
                                <div class="table-cell t1">$combo.price元</div>
                                <div class="table-cell t1">$combo.quantity次</div>
                                <div class="table-cell t1">$combo.quantity</div>
                        </div>
                    #end
                <div class="p10 arrow-icon arrow-icon-g item-ft">
                    <a href="${rc.contextPath}/${goods.detailUrl}">查看图文详情</a>
                </div>
            </div>
            <div class="b-bt photo-text-detail-notice">
                <div class="p10 b-b item-hd"><span class="col_0">购买须知</span></div>
                <div class="p10 item-bd">
                    #*<p class="col_b">有效期:</p>
                    <p>2015.11.1到2017.12.12（周末、法定节假日通用）</p>
                    <p class="col_b">使用时间:</p>
                    <p>08:00-21:30</p>
                    <p class="col_b">使用规则:</p>
                    <p>1、xxxxxxxxxxx<br>
                        2、xxxxxxxxxxxxxxxxx<br>
                        3、xxxxxxxxxxxxxxxxxxx </p>*#

                        <iframe id="detailInfo" src="${rc.contextPath}/$!goods.purchaseNotesUrl" width="100%" height="100%" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="no" style="margin: 5px 5px" onLoad="iFrameHeight()" ></iframe>


                </div>
            </div>

            <section class="home-hot-pro">
                <div class="home-hot-pro-hd">推荐商品</div>
                <div class="home-hot-pro-bd">
                    <ul>
                        #foreach($good in $topGoods)
                            #if($velocityCount <= 5)

                            <li> <a href="${rc.contextPath}/mobile/goods/detail?goodsId=${good.goodsId}">
                                <div class="table">
                                    <div class="table-cell item-photo">
                                        <div class="br5 photo"><img style="width: 75px;height: 60px" src="${rc.contextPath}/$good.imgsUrl"></div>
                                    </div>
                                    <div class="table-cell item-con">
                                        <div class="item-tit"><span class="fl tit">${good.title}</span><span class="fr distance">$!{good.distance}m</span></div>
                                        <div class="item-info">$good.goodsSummary</div>
                                        <div class="item-price"><strong>$good.nowPrice<em>元</em></strong></div>
                                    </div>
                                </div>
                            </a> </li>
                            #end
                        #end

                    </ul>
                </div>
            </section>
        </div>
    </section>
</section>
<script type="text/javascript" charset="utf-8" src="${rc.contextPath}/media/mobile/js/jquery.raty.min.js"></script>
<script type="text/javascript">
    $('#seller_detail').click(function(){
        var href = $(this).attr('href')
        window.location = href
    })
    $(function() {
        $('.star').raty({ readOnly: true, score: #if($!{sellerVO.starLevel})$!{sellerVO.starLevel} #else 3 #end,size:15,starOn:"o-star-on.png"});
    });

    function iFrameHeight() {//iframe高度自适应
        var ifm= document.getElementById("detailInfo");
        var subWeb = document.frames ? document.frames["detailInfo"].document : ifm.contentDocument;
        if(ifm != null && subWeb != null) {
            ifm.height = subWeb.body.offsetHeight + 20;
        }
    }
//    iFrameHeight();
</script>
</body>
</html>
