#set($layout = "/layout/mobileBlank.vm")
<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>我的认证</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="icon" type="image/png" href="assets/i/favicon.png">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="assets/i/app-icon72x72@2x.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link rel="stylesheet" href="assets/amazeui/assets/css/amazeui.min.css">
    <link rel="stylesheet" href="assets/amazeui/assets/css/app.css">
    <link rel="stylesheet" href="assets/css/suniu.css?t=20150519">
    <link rel="stylesheet" href="assets/vendor/svgcheckbx/css/component.css">
    <link rel="stylesheet" href="assets/vendor/svgcheckbx/css/demo.css">
    <link rel="stylesheet" href="assets/vendor/svgcheckbx/css/normalize.css">
</head>
<body>

<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a
        href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->

<!-- 页面内容 开发时删除 -->

<div class="auto-box1">
    <img src="assets/images/public/bg.jpg" style="height: 120px;width: 100%" alt="" >
    <img src="assets/images/public/touxiang.png" style="width: 80px;height: 80px;border-radius:50%;margin-top: -55px;margin-left: 30px;margin-bottom: 10px;" >
</div>


<div class="auto-val" style="background-color: #ffffff;color: #000000;text-align: center;">
    <p style="position: relative;left: 5%; border-bottom:1px solid #E9EAEC;line-height: 50px;"><span style="margin-left: -5%;">当前账户余额为:<i>20.00元</i></span></p>
    <p style="position: relative;left: 5%;line-height: 30px;"><span>每月15-18号可提现面额如下:</span></p>
</div>


<section style="position: relative;margin:5% 3%;padding: 8% 0; background-color: #52E1EA;height: 50px;text-align: center;border-radius: 5px;">
    <form class="ac-custom ac-checkbox ac-checkmark"  autocomplete="off">

        <div > <span><label for="cb6"><input id="cb6" name="cb6"  type="checkbox" placeholder="你好"></label> </span>
            <span ><label for="cb7"><input style="margin-left: 2%" id="cb7" name="cb7" type="checkbox"></label></span>
            <span ><label for="cb8"><input style="margin-left: 2%" id="cb8" name="cb8" type="checkbox"></label></span>
       </div>
    </form>
</section>



<div class="auto-val" style="background-color: #ffffff;color: #000000;text-align: center;">
    <p style="position: relative;left: 5%;line-height: 30px; color: #000000"><span>不可提现面额如下:</span></p>
</div>

<section style="position: relative;margin:5% 3%;padding: 8% 0; background-color: #52E1EA;height: 50px;text-align: center;border-radius: 5px;">
    <form class="ac-custom ac-checkbox ac-checkmark"  autocomplete="off">

        <div > <span><label for="cb9"><input id="cb9" name="cb9"  type="checkbox" placeholder="你好"></label> </span>
            <span ><label for="cb10"><input style="margin-left: 2%" id="cb10" name="cb10" type="checkbox"></label></span>
        </div>
    </form>
</section>


<form class="am-form">
<div class="am-form-group" style="display: inline-block">
    <label style="float: left" >手机号码:</label>
    手机号码
    <input type="mobile" class="" id="doc-ipt-email-1" placeholder="输入收货或购物手机号">
    <font style="color:#52E1EA;float: left;margin:0 25%">获取验证码</font>
</div>

<div class="am-form-group">
    <label>输入验证码:</label>
    <input type="mobile"  style="width: 120px;margin-left: 5%" >
</div>
</form>

<!-- 以上页面内容 开发时删除 -->


<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/amazeui/assets/js/jquery.min.js"></script>
<script src="assets/amazeui/assets/js/amazeui.min.js"></script>
<script src="assets/vendor/svgcheckbx/js/modernizr.custom.js"></script>
<script src="assets/vendor/svgcheckbx/js/svgcheckbx.js"></script>
<!--<![endif]-->

</body>
</html>
