#set($layout = "/layout/mobileDefault.vm")

<section class="wrap">
    <header><a href="javascript:void(0)" class="back"></a><span class="tit">卡券</span></header>
    <section class="pages">
        <div class="br10 my-card my-card-detail-info">
            <ul>
                <li class="arrow-icon arrow-icon-g"> <a href="#">
                    <div class="table">
                        <div class="table-cell item-con">
                            <p class="t1">消费成功！</p>
                        </div>
                    </div>
                </a> </li>
            </ul>
        </div>
    </section>
</section>
