#set($layout = "/layout/mobileDefault.vm")


##<script type="text/javascript" src="${rc.contextPath}/media/js/user/user.js"></script>
<head>
    <title>
        确认消费
    </title>
</head>
<section class="wrap">
    <section class="wrap">
        <section class="pages" style="margin-top:50px">

            <form id="orderConfirm" method="post">
                <div class="br30 header-search" style="height: 40px">
                <input name="orderNum" id="orderNum" type="text" class="inp" placeholder="输入卡劵" style="height: 40px">

                </div>

                <div class="br30" >
                    <button onclick="orderConfirmSubmit()" type="button" class="br30 combtn" style="margin-left : 15%;margin-right : 15%; margin-top: 110px;width: 70%;">确认消费</button>
                </div>
            </form>








        </section>

    </section>
</section>

<script>

    function orderConfirmSubmit(){

        var orderNum = $("#orderNum").val();
        var reg = new RegExp("^[0-9]*$");

        if (!reg.test(orderNum)){
            alert("请输入数字。");
            return;
        }


        $.ajax({
            type: "post", // 请求方式
            url: baseUrl + "/mobile/seller/orderConfirmSubmit", //url地址
            data: $('#orderConfirm').serialize(),
            dataType: "json",
            success: function (data) {

                if (data.reCode == 1 ){
                    //alert("消费成功。")
                    location.href = baseUrl + "/mobile/seller/orderConfirmResult?cardId="+orderNum;
                }else if(data.reCode == 2){
                    alert("无效卡劵。");
                }else if(data.reCode == 0){
                    alert("已经消费过了。")
                }else{
                    alert("系统错误！")
                }


            }, error: function () {
                alert("error");
            }
        });
    }

</script>
