#set($layout = "/layout/mobileDefault.vm")
<head>
    <title>
       商家收款码
    </title>
</head>
<section class="wrap">
    <section class="pages">
        <div class="p10  br10 bg-w my-code">
            <div class="p10 my-code-hd">
                <div class="table">
                    <div class="table-cell item-face">
                        <div class="br5 face"><img src="$!{rc.contextPath}/$!{seller.sellerPicture}"></div>
                    </div>
                    <div class="table-cell v-t item-tit"><span class="fs18 col_3">${user.userName}</span></div>
                </div>
            </div>
            <div class="circle my-code-bd"> <div id="sellerId" sellerId="${user.sellerId}"></div><img #*src="${rc.contextPath}/media/mobile/images/ewm.jpg"*#> </div>
            <div class="my-code-txt">商家收款码</div>
        </div>
    ##        <div id="output"></div>
    </section>
</section>
<script>
    var sellerId = jQuery('#sellerId').attr("sellerId");
    jQuery('#sellerId').qrcode({width:220,height:220,correctLevel:0,text:baseUrl + "/mobile/orderPay/orderPayView?sellerId=" + sellerId+"&fromType=app&payFrom=line"});
</script>
<style>
    body,header {background-color:#333335}
</style>
