#set($layout = "/layout/blank.vm")
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>爱卡后台管理系统</title>
    <link href="${rc.contextPath}/media/css/login/login.css" rel="stylesheet" type="text/css" />
    <script src="${rc.contextPath}/media/js/jquery-2.0.3.min.js"  language="javascript"></script>
    <script src="${rc.contextPath}/media/js/login/cloud.js" type="text/javascript"></script>

<script language="javascript">
    $(function(){
        $('.loginbox').css({'position':'absolute','left':($(window).width()-692)/2});
        $(window).resize(function(){
            $('.loginbox').css({'position':'absolute','left':($(window).width()-692)/2});
        })
    });
</script>

</head>

<body style="background-color:#6ec8f9; background-image:url(${rc.contextPath}/media/images/light.png); background-repeat:no-repeat; background-position:center top; overflow:hidden;">

<div id="mainBody">
    <div id="cloud1" class="cloud"></div>
    <div id="cloud2" class="cloud"></div>
</div>


<div class="logintop">
    <span>欢迎登录爱卡后台管理系统</span>
</div>


<div class="loginbody">

    <span class="systemlogo"></span>
    <form action="${rc.contextPath}/doLogin" method="post">
    <div class="login">
        <input class="login_name" name="userName" type="text"  placeholder="用户名"/>
        <input class="login_pw" name="password" type="password"  placeholder="密码"/>
        <!--<div class="login_other"><label><input type="checkbox" class="vm mr5" />记住密码</div>-->
        <input class="btn_login" type="submit" value="登陆">
    </div>
   </form>
</div>


<div class="loginbm pstBtn">Copyright © 2015, <a href="#">suniusoft.com</a>, All Rights Reserved</div>



</body>

</html>
