#set($layout = "/layout/blank.vm")


<script>

    jQuery(function () {




        var setting = {
            async: {
                type: "get",
                enable: true,
                url: "admin/resourceTreeList",
                autoParam: ["id=id", "resourceId=resourceId", "name=n", "level=lv"],
                otherParam: {"otherParam": "zTreeAsyncTest"}
            },

            callback: {
                onClick: function (event, treeId, treeNode, clickFlag) {
                    if (true) {

                        $('#id').val(treeNode.resourceId);
                        tableModal.draw();
                    }

                }
            }


        };
        var treeObj= $.fn.zTree.init($("#treeDemo"), setting);



        $(document).on('click',"#leftDiv",function(e){
            if( $( e.target ).closest("ul").attr("id")!="treeDemo"){

                treeObj.cancelSelectedNode();

                $('#id').val("");

            }
        });

    });


</script>
<style type="text/css">
    #rightDiv {
        height: 800px;
        width: 1000px;
        position: absolute;
        top: 100px;
        left: 200px;
    }

    #leftDiv {
        height: 800px;
        width: 250px;
        position: absolute;
        left: 10px;
        top: 100px;
    }
</style>
<div id="leftDiv">


    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <div class="BoxStyleA">

                    <div class="widget-body">
                        <div class="widget-main" style="height:480px;">
                            <ul id="treeDemo" class="ztree"></ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>


<div id="rightDiv">
    #parse("/permission/resourceListDetail.vm");


</div>

<style>

    /*div.content_wrap {width: 600px;height:500px;}*/
    /*div.zTreeDemoBackground {width:250px;height:362px;text-align:left;}*/

    /*ul.ztree { border: 1px solid #ccc;*/
    /*border-radius: 5px;margin-top: 10px;width:220px;height:500px;overflow-y:scroll;overflow-x:auto;}*/

</style>

<script type="text/javascript" src="${rc.contextPath}/media/js/permission/resourceList.js"></script>

