<!DOCTYPE html>
<html>
    #set($layout = "/layout/mobileDefault.vm")
<head>
    <title>
 文章列表
    </title>
</head>
<body>
<section class="wrap">
    <section class="pages">
        <div class="business-detail">


              <div class="bg-w business-detail-news">
                <div class="p10 b-bt item-hd"><Span class="fl fs15 col_0 tit">新闻资讯</Span></div>

                       #foreach($article in $contentManageList)
                           <div class="item-bd">
                               <ul>
                                   <li> <a href="${rc.contextPath}/${article.contentDetail}">
                                       <div class="table">
                                           <div class="table-cell item-photo"><img width="120px" height="50px" src="$!{rc.contextPath}$!article.contentUrl"></div>
                                           <div class="table-cell v-t item-con">
                                               <div class="fs16 col_3 tit">$!article.title </div>
                                               <div class="info"></div>
                                           </div>
                                       </div>
                                   </a> </li>
                               </ul>
                           </div>
                        #end
            </div>

        </div>
    </section>
</section>
</body>
</html>
