#set($layout = "/layout/blank.vm")
<div id="web">
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <div class="BoxStyleA">
                    <div class="breadcrumbs" id="breadcrumbs">
                        <i class="modal-logo contact"></i>
                        <ul class="breadcrumb" style="margin-left: 2px">
                            <li>
                            <li>与客户联系</li>
                            </li>
                            <li><a href="javascript:freshUrl('/sf-web/contactCustomer/marketList');"> 营销列表</a></li>
                            <li class="active">营销明细</li>
                        </ul><!-- .breadcrumb -->
                    </div>

                    <div class="widget-body">
                        <div class="widget-main">
                            <form class="form-horizontal markAct" id="searchForm" role="form">
                                <div class="row">
                                    <div class="col-xs-16 col-sm-10 no-padding-left" style="margin-top: 5px;">
                                        <input type="text" name="activityId" style="display: none;" value="$!activityId" />
                                        <div class="input-group">
                                            <span style="float: left;margin-left: 20px;">营销活动类型：</span>
                                            <span style="float: left;">
                                                <input name="type" type="radio" class="ace" value="sms">
                                                <span class="lbl">短信营销</span>
                                            </span>
                                            <span style="float: left;margin-left: 25px;">
                                                <input name="type" type="radio" class="ace" value="email"/>
                                                <span class="lbl"> 邮件营销</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-xs-16 col-sm-11 no-padding-left" style="margin-top: 25px;">
                                        <div class="input-group">
                                            <span style="float: left;margin-left: 20px;">营销活动主题：<input  type="text" name="activityTitle" /></span>
                                            <span style="float: left;margin-left: 20px;">
                                                执行时间：<input  type="text" name="startTime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"/>
                                                    至：<input  type="text" name="endTime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"/>
                                            </span>
                                            <span style="float: left;margin-left: 20px;">发送效果：
                                                <select  name="isSuccess">
                                                    <option value="">不限</option>
                                                    <option value="1">成功</option>
                                                    <option value="0">失败</option>
                                                </select>
                                            </span>
                                            <span class="input-group-btn" style="float: left;margin-left: 35px;">
                                                <button class="btn_searchA" type="button" id="resetBut">
                                                    重置
                                                </button>
                                            </span>
                                            <span class="input-group-btn" style="float: left;margin-left: 85px;">
                                                <button class="btn_searchA" type="button" id="SearchBut" type="submit">
                                                    搜索
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div>&nbsp</div>
                <div class="BoxStyleA">
                    <div class="BoxStyleATop">
                        <span class="fl">营销方案查看</span>
                    </div>
                    <div class="smsMarketTable">
                        <table id="smsDetailTable" class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>营销活动主题</th>
                                <th>接收人姓名</th>
                                <th>联系电话</th>
                                <th>是否有对应微信</th>
                                <th>是否成功</th>
                                <th>第几次接收</th>
                                <th>接收周期</th>
                                <th>客户来源</th>
                                <th>客户贡献率</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="emailMarketTable" style="display: none;">
                        <table id="emailDetailTable" class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>营销活动主题</th>
                                <th>接收人姓名</th>
                                <th>邮箱</th>
                                <th>是否有对应微信</th>
                                <th>是否成功</th>
                                <th>是否打开</th>
                                <th>第几次接收</th>
                                <th>接收周期</th>
                                <th>客户来源</th>
                                <th>客户贡献率</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="${rc.contextPath}/media/js/admin/concactCustomer/marketDetail.js"></script>