.nav-search{
    display:none;
}
.table-responsive{
    margin: 10px 40px 20px 40px;
}
.main-content1{
    background-color: #ffffff;
}
.breadcrumbs{
    background-color:#75C4E5;

}
.breadcrumb>li{
    color: white;
}
.breadcrumb>li, .breadcrumb>li.active{
    color: white;
}
.breadcrumb>li+li:before {
    color: white;
}
.breadcrumb {
    float:left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 15px;
}
.breadcrumb>li>a {
    color: white;
}
.col-sm-6{
    text-align: left;
}
html{
    background-color: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
}
th {text-align: center;}
.dataTables_length{
    text-align: left;
    font-weight: bolder;
    margin-left: 10px;
    margin-top: 7px;
    height: 35px;
}
.dataTables_wrapper .row{
    background-color: #ffffff;
}


.dataTables_info{
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
}
.dataTables_wrapper .dataTables_paginate {
    text-align: center;
    padding-top: 0.25em;
}

.navbar{
    /*background-color: #31a3cc;*/
    background: url(images/navbar.jpg) no-repeat 0 0;
    background-size: cover;
    margin-top: -1px;
}
.icon-left-img{
    background: url(images/icon_left.png) no-repeat 0 0;
    width: 50px;
    height: 30px;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.BoxStyleATop{ height:30px; background:#75C4E5; color:white; font-size:14px; padding:5px 0 0 15px; }
.BoxStyleATop a{ margin:0 10px; /*clear:both;*/}
.BoxStyleA{ border:1px solid #ccc; float:left; border-radius:5px; padding: 0 0 0px 0; margin:0 0 0px; width:100%;}
.icon_box{ clear:none!important; margin:0 0 0 30px;}
.icon_add,.icon_layout,.icon_del,.icon_batchImport,.icon_download,.icon_offShelf,.icon_shelves{ width:95px; height:13px; padding: 4px 0 0 0 ; text-indent:8px; font-size:12px; display:table-cell; clear:both;color:#4abdcc; }
.icon_add:hover,.icon_layout:hover,.icon_del:hover,.icon_batchImport:hover,.icon_download:hover,.icon_offShelf:hover,.icon_shelves:hover{ text-decoration:none; color:#338c98; }
.icon_add{ background:url(./images/icon_add.png); }
.icon_del{ background:url(./images/icon_del.png);}
.icon_layout{ background:url(./images/icon_layout.png);}
.icon_shelves{ background:url(./images/icon_shelves.png);}

.btn_searchA{ width:70px; height:31px; background: #48bacc; color:#fff; border:0; border-radius:5px;}
.fl {float:left;font-size: 14px}

/*tip*/
.tip{width:485px; height:260px; position:absolute;top:10%; left:30%;background:#fcfdfd;box-shadow:1px 8px 10px 1px #9b9b9b;border-radius:1px;behavior:url(../js/pie.htc); display:none; z-index:111111;}
.tiptop{height:40px; line-height:40px; background-color:#75C4E5;  cursor:pointer;}
.tiptop span{font-size:14px; font-weight:bold; color:#fff;float:left; text-indent:20px;}
.tiptop a{display:block; background:url(./images/close.png) no-repeat; width:22px; height:22px;float:right;margin-right:7px; margin-top:10px; cursor:pointer;}
.tiptop a:hover{background:url(./images/close1.png) no-repeat;}
.tipinfo{padding-top:30px;margin-left:65px; height:95px;}
.tipinfo span{width:95px; height:95px;float:left;}
.tipright{float:left;padding-top:15px; padding-left:10px;}
.tipright p{font-size:14px; font-weight:bold; line-height:35px;}
.tipright cite{color:#858686;}
.tipbtn{margin-top:25px; margin-left:125px;}
.sure ,.cancel{width:96px; height:35px; line-height:35px; color:#fff; background-color: #75C4E5; font-size:14px; font-weight:bold;border-radius: 3px; cursor:pointer;}
.cancel{background:url(./images/btnbg2.png) repeat-x;color:#000;font-weight:normal;}



.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    *cursor: hand;
    color: #333333 !important;
    border: 1px solid transparent;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #333333 !important;
    border: 1px solid #cacaca;
    background-color: white;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, gainsboro));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, white 0%, gainsboro 100%);
    /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top, white 0%, gainsboro 100%);
    /* FF3.6+ */
    background: -ms-linear-gradient(top, white 0%, gainsboro 100%);
    /* IE10+ */
    background: -o-linear-gradient(top, white 0%, gainsboro 100%);
    /* Opera 11.10+ */
    background: linear-gradient(to bottom, white 0%, gainsboro 100%);
    /* W3C */
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    background-color: #a8e6f5;

    /* W3C */
}
.dataTable th[class*=sorting_] {
    color: #000000;
    text-align: center;
    font-weight: normal;
}

.wysiwyg-style2{
    width: 810px;
}
.sn-editor{
    width: 800px;
    height: 300px;
}

.sn-footer{
    margin: 0px -12px -12px -12px;
}

.W1200{
    position: absolute;
    right: 0;
    left: 0;
}
.ace-nav>li.light-blue>a {
    background-color: rgba(124, 197, 228, 0.54)!important;
}

.modal-logo{
    width: 30px;
    margin-left: 4px;
    margin-right: 2px;
    height: 30px;

    float: left;
    margin-top: 5px;
}
.interact{
    background: url(../images/interaction.png) no-repeat 0 0;
    background-size:cover;
}
.index{
    background: url(../images/index.png) no-repeat 0 0;
    background-size:cover;
}
.contact{
    background: url(../images/contact.png) no-repeat 0 0;
    background-size:cover;
}
.config{
    background: url(../images/config.png) no-repeat 0 0;
    background-size:cover;
}
.know{
    background: url(../images/know.png) no-repeat 0 0;
    background-size:cover;
}
/*-------------------------------------与客户联系 css  start------------------------------*/
.markAct .col-sm-4 label{float: left;margin-left: 10px;}
.markAct .col-sm-7 label{float: left;margin-left: 10px;}
.modal .form-horizontal label{margin-left:10px;}


/*--------------------------------------其它-----------------------------------------------*/
.required{
    color: red;float: left;margin-left: 10px;font-size: 20px;line-height: 40px;
}


.delIcon {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    display: inline-block;
    background: url(images/delIcon.png) no-repeat;
    background-size: 100%;
}
