#set($layout = "/layout/blank.vm")
<script type="text/javascript" src="${rc.contextPath}/media/js/admin/geo.js"></script>
<div id="web">
<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">
            <div class="BoxStyleA">
                <div class="breadcrumbs" id="breadcrumbs">
                    <i class="modal-logo interact"></i>
                    <ul class="breadcrumb" style="margin-left: 2px;">
                        <li></li>
                        <li>商家管理</li>
                        <li>商家列表</li>
                    </ul><!-- .breadcrumb -->
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <form class="form-search" id="searchForm">
                            <div class="row">
                                <div class="col-xs-16 col-sm-12">
                                    <div class="input-group">
                                        <span class="ml20">商家名称：<input  type="text" name="name" /></span>

                            <span class="ml20">&nbsp;&nbsp;&nbsp;状态：
                                <select  style="width: 150px;" name="type">
                                    <option value="0">未审核</option>
                                    <option value="1" >已审核</option>
                                </select>
                            </span>
                                        <span class="ml20">&nbsp;&nbsp;创建时间：<input  type="text" name="startDate" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"/></span>
                                        <span class="ml20">&nbsp;&nbsp;至：<input  type="text" name="endDate" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"/></span>
                            <span >
                                <input class="btn_searchA ml20" type="submit" value="搜索"/>
                            </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div>&nbsp</div>
            <div class="BoxStyleA">
                <div class="BoxStyleATop">
                    <span class="fl">商家信息</span>
                    <div class="icon_box fl">
                        <a class="icon_add"   onclick="showAddForm()" >添加</a>
                        <a id="delHbpool" href="" class="icon_del">删除</a>
                        <a class="icon_layout"   onclick="showAddForm()" style="text-indent : -10px">设置佣金</a>
                        <a id="delHbpool" href="" class="icon_shelves" style="text-indent : -10px">审核通过</a>
                    </div>
                    <!--<a href="" class="fr">X</a>-->
                </div>
                <table id="imgTable" class="table table-striped table-bordered table-hover" style="width: 100%">
                    <thead>
                    <tr>
                        <td>
                            <label>
                                <input type="checkbox" class="ace" id="allCheckbox" onclick="javascript:selectAll()" value="true" />
                                <span class="lbl"></span>
                            </label>
                        </td>
                        <th>名称</th>
                        <th style="width: 13%">佣金比例</th>
                        <th>状态</th>
                        <th>联系人</th>
                        <th>电话</th>
                        <th>详细地址</th>
                        <th>商家推荐码</th>
                        <th>入驻时间</th>
                    ##                        <th style="width: 13%">结束时间</th>
                    </tr>

                    </thead>

                    <tbody id="tbContainer">
                    </tbody>

                    <tfoot>
                    <tr>
                        <th>合计:</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th id="sumTotalAmount"></th>
                        <th id="sumOverAmount"></th>
                        <th id="sumNumber"></th>
                        <th id="sumNumberObtain"></th>
                        <th id="sumOverNumber"></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </tfoot>

                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="sellerModal" tabindex="-1" role="dialog" aria-labelledby="sellerModal" aria-hidden="true" >
<div class="modal-dialog" style="width: 800px">
<div class="modal-content" >
<div class="tiptop"><span>新建商家信息</span><a data-dismiss="modal" aria-hidden="true"></a></div>
<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <form class="form-horizontal" role="form" id="addForm" method="post">

        <div class="form-group" style="margin-top: 5px">
                <label  class="col-xs-2">商家名称:</label>
                <input class="col-xs-3" type="text"  name="sellerName"/>
                <span  class="required">*</span>
                <label class="col-xs-2">商家推荐码:</label>
                <input type="text" class="col-xs-3"  name="businesstouserRecommendCode" />
        </div>

        <div class="form-group" style="margin-top: 5px">
            <label  class="col-xs-2">联系人:</label>
            <input class="col-xs-3" type="text"  name="contacts"/>
            <span  class="required">*</span>
            <label class="col-xs-2">手机号:</label>
            <input type="text" class="col-xs-3"  name="mobile" />
            <span  class="required">*</span>
        </div>

        <div class="form-group" style="margin-top: 5px">
            <label  class="col-xs-2">商家折扣:</label>
            <input class="col-xs-3" type="text"  name="discount"/>
            <span  class="required">*</span>
            <label class="col-xs-2">营业执照复印件:</label>
            <div style="margin-left: 12px;">
                <div style="position: relative;float: left;width: 70px;height: 30px;text-align: center;border-radius: 2px;background-color: #428bca;">
                    <a style="color: #fff;font-size: 14px;line-height: 30px;">选择</a>
                    <div style="position: absolute;top:0;left:0;">
                        <input type="file" name="photo1" id="photo1" style="width: 200px; height: 30px;background: rgb(255, 255, 255) none repeat scroll 0% 0%;"
                               onchange="getName(this,'photo1');" />
                    </div>
                </div>
                <span class="photo1" style="display: block;float: left;margin-left: 5px;margin-top: 5px;"></span>
            </div>
            <span  class="required">*</span>
        </div>


            <div class="form-grounp"  >
                <label class="col-xs-1">省</label>
                    <select id="province" name="province" class="col-xs-2">
                        <option></option>
                    </select>

                <label class="col-xs-1">市</label>
                <select id="city" name="city" class="col-xs-2">
                    <option></option>
                </select>

                <label class="col-xs-1">区/县</label>
                <select id="district" name="district" class="col-xs-3">
                    <option></option>
                </select>

            </div>

            <div class="form-group" style="margin-top:60px">
                <label  class="col-xs-2">详细地址:</label>
                <input class="col-xs-8" type="text"  name="address"/>
                <span  class="required">*</span>
            </div>

            <div class="form-group"  style="margin-top: 5px;">
                <label  class="col-xs-2">电子邮箱:</label>
                <input class="col-xs-3" type="text"  name="email"/>
                <span  class="required">*</span>
                <label class="col-xs-2">座机号:</label>
                <input type="text" class="col-xs-3"  name="phone" />
                <span  class="required">*</span>
            </div>


            <div class="form-group" style="margin-top: 5px">
                <label  class="col-xs-2">简介:</label>
                <input class="col-xs-8" type="text"  name="sellerBrief"/>
                <span  class="required">*</span>
            </div>

            <div class="form-group">
                <label  class="col-xs-2">商家详情:</label>
                 <div class="col-sm-9" style="text-align: left">
                    <script id="editor" type="text/plain" style="width:100%; height:300px;" name="content">
                        $!mallGoods.goodsDetail
                    </script>
                </div>
            </div>

            <div class="modal-footer">
                <center><input class="sure" type="submit" value="确定" >&nbsp;
                    <input class="cancel" type="button" data-dismiss="modal" aria-hidden="true" value="取消"></center>
            </div>
        </form>
    </div>
</div>
</div>
</div>
</div>

<!-- detailModal -->
<div class="modal fade" id="hbpoolDetailModal" tabindex="-1" role="dialog" aria-labelledby="hbpoolDetailModal" aria-hidden="true" >
<div class="modal-dialog" style="width: 800px">
    <div class="modal-content" >
        <div class="tiptop"><span>红包活动详细信息</span><a data-dismiss="modal" aria-hidden="true"></a></div>
        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <form class="form-horizontal" role="form" id="updateForm" method="post">
                    <input type="hidden" name="id">
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 红包名称 </label>
                        <div class="col-sm-6" style="margin-top: 5px">
                            <input type="text" id="form-field-1"  class="col-xs-10 col-sm-5" name="name" />
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 红包数量 </label>

                        <div class="col-sm-6">
                            <input type="text" id="form-field-1"  class="col-xs-10 col-sm-5"  name="number" readonly="readonly" />
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 红包类别 </label>
                        <div class="col-sm-12" style="width:495px;margin: 2px 0px 0px -3px;text-align: left">
                            <input name="type" type="radio" class="ace" value="common" checked="checked" onclick="change1()"/>
                            <span class="lbl">普通红包</span>
                            <span id="hpfxShow">
                            <input name="type" type="radio" class="ace" value="praise"  onclick="change1()"/>
                            <span class="lbl">好评返红包</span>
                            </span>
                        ##                                <input name="type" type="radio" class="ace" value="fxs"  onclick="change1()"/>
                        ##                                <span class="lbl">分享送红包</span>
                            <input name="type" type="radio" class="ace" value="point_exchange"  onclick="change1()"/>
                            <span class="lbl">积分兑换红包</span>
                            <input name="type" type="radio" class="ace" value="shake"  onclick="change1()"/>
                            <span class="lbl">摇一摇红包</span>
                            <span id="srhbShow">
                            <input name="type" type="radio" class="ace" value="birthday"  onclick="change1()"/>
                            <span class="lbl">生日红包</span>
                            </span>
                        ##                                <input name="type" type="radio" class="ace" value="gw"  onclick="change1()"/>
                        ##                                <span class="lbl">购物红包</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-7">
                            <label class="control-label bolder red" style="margin-left:-90px" >设置红包活动规则</label>
                            <div class="radio">
                                <label>
                                    <input name="config" type="radio" class="ace" value="regular" checked="checked" onchange="configChange1()" />
                                    <span class="lbl"> 规则设置</span>
                                </label>
                            </div>
                            </br>

                            <div id="rdiv1">
                                <div class="form-group">
                                    <div class="col-sm-12" style="float: left;width: 670px;text-align:left ;margin-left: 128px">
                                        <input type="text" id="form-field-1" class="ammount" name="irregularAmmount"   style="width: 90px;margin-left:20px"/>
                                        <label > 元红包,共 </label>
                                        <input type="text" id="form-field-1" class="hb-number" name="irregularNumber"   style="width: 90px" onblur="count('hbpoolDetailModal')" />
                                        <label > 个 </label>
                                        <div class="jfdh" style="display: inline">
                                            <label>,每个红包需消耗</label>
                                            <input type="text" id="form-field-1"  name="pointPerHB" style="width: 90px" onblur="count('hbpoolModal')" />
                                            <label >积分 </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="hpfDiv1">
                                <div class="form-group">
                                    <div class="col-sm-11" style="margin-left:100px">
                                        <label style="width: 172px"> 带字好评,字数(包含标点)需</label>
                                        <input type="text" id="form-field-1" style="width: 90px" name="withWordLimit" />
                                        <label style="width: 30px"> 以上 </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-11 control-label no-padding-right" style="margin-left: -34px" >领取限制:
                                        <input name="limitPostTime" type="checkbox" class="ace" checked="checked" value="true"/> <span class="lbl">&nbsp;&nbsp;每个快递单号领取一次</span>
                                    </label>
                                </div>

                                <div class="form-group" >
                                    <div class="col-sm-8" style="margin-left: 116px;">
                                        <label class="col-sm-4 control-label no-padding-right" style="margin-top: -5px"> 返现平台：</label>
                                        <label style="margin-left: -23px">
                                            <input name="platform" type="checkbox" class="ace" value="taobaoAndTmall"/>
                                            <span class="lbl">淘宝、天猫</span>
                                        </label>
                                        <label>
                                            <input name="platform" type="checkbox" class="ace" value="jd"/>
                                            <span class="lbl">京东</span>
                                        </label>
                                    </div>
                                </div>
                            </div>


                            <div id="show1">
                                <div class="radio">
                                    <label>
                                        <input name="config" type="radio" class="ace" value="irregular" onchange="configChange1()"/>
                                        <span class="lbl"> 不规则设置</span>
                                    </label>
                                </div>

                                <div class="jfdhExcept">
                                    <div class="form-group">
                                        <div class="col-sm-18" style="width:600px " >
                                            <button  type="button" class="addBtn" style="margin-left: 150px" onclick="addText1()">
                                                继续添加
                                            </button>
                                            <label>(前后数据必须是后者大于前者,顺序递增)</label>
                                        </div>
                                    </div>
                                </div>

                                <div id="mdiv1">
                                    <div class="form-group" style="margin-top: 5px">
                                        <div class="col-sm-16" style="width: 760px">
                                            <input type="text" id="form-field-1" class="ammStart"  name="ammStart" style="width: 90px"/>
                                            <label > --- </label>
                                            <input type="text" id="form-field-1" class="ammEnd" name="ammEnd"  style="width: 90px"/>
                                            <label > 元随机红包,共 </label>
                                            <input type="text" id="form-field-1" class="irNumber" name="irNumber" style="width: 90px" onblur="count('hbpoolDetailModal')" />
                                            <label > 个 </label>
                                        </div>
                                    </div>


                                    <div class="jfdh">
                                        <div class="form-group">
                                            <div class="col-sm-8" style="width: 570px;float: left">

                                                <label >每1元红包需消耗&nbsp&nbsp&nbsp&nbsp</label>
                                                <input type="text" id="form-field-1" name="pointPerYuan"  style="width: 90px"/>
                                                <label >积分</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="jfdhExcept">
                                        <div class="form-group">
                                            <div class="col-sm-16" style="width: 760px">
                                                <input type="text" id="form-field-1" class="ammStart" name="ammStart" style="width: 90px"/>
                                                <label > --- </label>
                                                <input type="text" id="form-field-1" class="ammEnd" name="ammEnd" style="width: 90px"/>
                                                <label > 元随机红包,共 </label>
                                                <input type="text" id="form-field-1" class="irNumber" name="irNumber" style="width: 90px" onblur="count('hbpoolDetailModal')"/>
                                                <label > 个 </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-16" style="width: 760px">
                                                <input type="text" id="form-field-1" class="ammStart"  name="ammStart"  style="width: 90px"/>
                                                <label > --- </label>
                                                <input type="text" id="form-field-1" class="ammEnd"  name="ammEnd"  style="width: 90px"/>
                                                <label > 元随机红包,共 </label>
                                                <input type="text" id="form-field-1" class="irNumber"  name="irNumber" style="width: 90px" onblur="count('hbpoolDetailModal')"/>
                                                <label > 个 </label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group" id="limitObtainTime1">
                                <label class="col-sm-11 control-label no-padding-right" style="margin-left: 36px">限领次数:
                                    <input name="limitObtainTime" type="checkbox" class="ace"  value="true"/> <span class="lbl">&nbsp;&nbsp;每个微信昵称（openid）限领一个</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group  showTime">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">活动时间</label>
                        <div class="col-sm-8" style="float: left;text-align: left">
                            <input type="text" id="form-field-1"  name="startDate" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"/>
                            <label >至</label>
                            <input type="text" id="form-field-1"  name="endDate" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"/>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <center><input class="sure" type="submit" value="确定"  >&nbsp;
                            <input class="cancel" type="button" data-dismiss="modal" aria-hidden="true" value="取消"></center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>


<script type="text/javascript" src="${rc.contextPath}/media/js/admin/seller/seller.js"></script>

</div>


<script type="text/javascript">

    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    //    var ue = UE.getEditor('editor');
    var editor = new baidu.editor.ui.Editor();
    editor.render("editor");


    // 省市区三级联动
    new Dsy({
        // 绑定三个select的id
        s:['province','city','district'],
        // 是否是大陆
        isMainLand:true,
        // 默认浙江省
        p_key:'浙江省'
    });

</script>